<div class="note breaking"><strong>Breaking change</strong>:
  During the upgrade from Redis for PCF v2.0, on-demand service instances change
  their listen port from <code>12345</code> to <code>8080</code> to be consistent with other services.
  Before you upgrade from v2.0, your application security groups must allow access to ports <code>12345</code> and <code>8080</code>,
  or your on-demand instances will fail.
  For upgrade instructions, see
  <a href="upgrade.html#upgrades">Upgrade to Redis for PCF v2.1</a>.</div>
