<p>
  On-demand service brokers add tasks to the BOSH request queue, which can back up
  and cause delay under heavy loads.
  An app developer who requests a new <%=vars.service_name%> instance sees
  <code>create in progress</code> in the Cloud Foundry Command Line Interface (cf CLI) until
  BOSH processes the queued request.
</p>

<p>
  Ops Manager currently deploys two BOSH workers to process its queue.
  Future versions of Ops Manager will let users configure the number of BOSH workers.
</p>
