<p>
  You may have configured a VM / Disk type in tile plan page in Ops Manager that
  is insufficiently large for <%=vars.service_name_article_full%> instance to start.
  See tile-specific guidance on resource requirements.
</p>
