<div class="note breaking"><strong>Breaking change</strong>:
  When enabling TLS for On-Demand Instances you must ensure that you have configured the correct ports.
  For more information see: <a href="installing.html#network-configuration">Installing Redis for PCF</a>.
