<p class="note breaking"><strong>Breaking Change: </strong>
    Dedicated-VMs have been deprecated and are removed when you upgrade to Redis for PCF v1.15.
    If you use your Redis deployments as persistent storage, Pivotal recommends that
    you back up data or migrate to on-demand instances before upgrading to v1.15.
    For how to migrate to on-demand instances, see
    <a href="https://pvtl.force.com/s/article/Migrating-from-dedicated-vm-service-plans-to-on-demand-service-plans">
        Migrating from dedicated-vm service plans to on-demand service plans</a>
    in the Pivotal Support knowledge base.</p>