<div class="note breaking"><strong>Breaking change</strong>:
  Before enabling TLS for On-Demand Instances you must follow the procedures in [Preparing for TLS](./preparing-tls.html),
  and ensure that you have configured the correct ports, see [Installing Redis for PCF](./installing.html#network-configuration).
</div>
