<p class="note"><strong>Note</strong>: Dedicated-VMs have been removed in 2.0.
    As of Redis for PCF v1.11, the on-demand service is at feature parity with the Dedicated-VM service.
    Dedicated-VMs have been marked as deprecated in v1.14.
    Pivotal strongly recommends that you migrate to the on-demand service plan before upgrading to 2.0 to avoid data loss.
    Information on how to upgrade available on [this KB](https://pvtl.force.com/s/article/Migrating-from-dedicated-vm-service-plans-to-on-demand-service-plans).</p>