<p class="note"><strong>Note</strong>: As of Redis for PCF v1.11,
    the on-demand service is at feature parity with the dedicated-VM service.
    Dedicated-VMs are marked as deprecated in v1.14 and are removed in v2.0.
    Pivotal recommends that you migrate to the on-demand service plan.</p>