<p class="note warning">
  <strong>Warning:</strong>
  Once TLS has been enabled for the on-demand Redis service, disabling TLS causes downtime and service outage for all apps that connect to Redis via TLS. <br>
  If you disable TLS, you must then unbind all apps bound to on-demand instances from the TLS port, rebind to the non-TLS port, and then restage to  resume service access.
</p>
