<p class="note warning">
  <strong>Warning:</strong>
  Once enabled, disabling TLS will cause downtime and Redis service outage to all apps using TLS. <br>
  When disabling TLS, all applications bound to On-Demand Redis Service Instances with TLS will need to be unbound from the TLS port, bound to the non-TLS port, then restaged to resume service access.
</p>
