<p class="note warning"><strong>Warning</strong>:
  The Steeltoe connector for Redis requires Redis for PCF to support Lua scripting.
  By default, Lua scripting is disabled for Redis for PCF, but a PCF operator can
  change the setting to enable it by selecting the <strong>Lua Scripting</strong> checkbox in each service plan's <strong><a href="./installing.html#on-demand-plan-config">On-Demand Plan</a></strong> configuration pane.
</p>
