<p class="note warning"><strong>Warning: </strong>
  If you are upgrading from Redis for PCF v1.14.3 or earlier, you must run the
  <code>upgrade-all-service-instances</code> errand after upgrading.
  Failure to do so causes compatibility issues with runtime CredHub.</p>
