---
title: Introduction for App Developers
owner: London Services
---

<strong><%= modified_date %></strong>

This section introduces Redis for Pivotal Cloud Foundry (PCF) services for developers
and links to more information.

For instructions on creating, binding to, and deleting an instance of the On-Demand,
or Shared-VM plan, see [Using Redis for PCF](./using.html).


## <a id="services"></a>  Redis for PCF Services

<%= partial 'service-offerings' %>

For more information about the plans, see the [On-Demand Service Offering](./architecture.html)
and the [Shared-VM Service Offering](./architecture-pp.html).

##  <a id="getting-started"></a>Getting Started

### <a id="spring"></a>Using Redis for PCF with Spring
<a href="http://cloud.spring.io/spring-cloud-connectors/spring-cloud-spring-service-connector.html#_redis">Spring Cloud Connectors</a>
can connect to Redis for PCF.
<a href="http://cloud.spring.io/spring-cloud-connectors/spring-cloud-cloud-foundry-connector.html#_redis">Spring Cloud Cloud Foundry connectors</a>
automatically connect to Redis for PCF.

To view an example Spring app demonstrating Redis as a cache with failover,
see the <a href="https://github.com/pivotal-cf/redis-reference-architecture">Example Spring App</a>
in GitHub.

###  <a id="pcf-dev"></a>PCF Dev
PCF Dev is a small footprint version of PCF that's small enough to run on a local
developer machine.
For more information, see https://pivotal.io/pcf-dev.

###  <a id="example-app"></a>Redis Example App
Sample ruby code that uses PCF can be found here
<a href="https://github.com/pivotal-cf/cf-redis-example-app">https://github.com/pivotal-cf/cf-redis-example-app</a>.

###  <a id="redis"></a>Redis
To learn more about Redis itself, see <a href="http://redis.io">redis.io</a>.
