---
title: Architecture and Lifecycle for the On-Demand Service
owner: London Services
---

<strong><%= modified_date %></strong>


Redis for PCF offers On-Demand, Dedicated-VM, and Shared-VM service plans. 
This section describes the architecture, lifecycle, and configurations of the On-Demand plan, 
as well as networking information for the on-demand service. 
For similar information for the Dedicated-VM and Shared-VM plans, see [Architecture and Lifecycle for Dedicated and Shared Plans](./architecture-pp.html).

## <a id ="architecture"></a>Redis for PCF Architecture for On-Demand Service Plan

### <a id="diagram1"></a> Architecture Diagram for On-Demand Plan

This diagram shows how the architecture of the service broker and On-Demand plans and how the user's app binds to a Redis instance.

![On-Demand Architecture Diagram](on-demand-arch.png)

### <a id="on-demand"></a> On-Demand Service Plans

* These plans are Operator-configured and enabled. 
* Once enabled, App Developers can view the available plans in the marketplace and provision a Redis instance from that plan.
* You can disable any of the three on-demand plans in the plan's page in OpsManager. See descriptions of the three on-demand plans [here](minor-overview.html#service).
* The maximum number of instances is managed at by a per-plan and global quota. The maximum number of instances cannot surpass 50.
* Operators can update the plan settings, including the VM size, disk size, and Redis configuration settings, after the plans have been created. **Operators should not downsize the VMs or disk size as this can cause data loss in pre-existing instances.**
* App Developers can update certain Redis configurations.
* Back ups are not available for On-Demand plans.


### <a id="config"></a> Configuration for On-Demand Service Plans

On-Demand plans are best fit for cache use cases.

For On-Demand Plans, certain Redis configurations can be set by the operator during plan configuration,
 and by the App Developer during instance provisioning. Other Redis configurations cannot be changed from the default.

 + Operator configurable Redis settings include the following: `timeout`, `tcp-keepalive`, `maxclients`, and `lua scripting`. See the Operator Guide section of this documentation for more detail.
 + App-Developer configurable Redis settings include the following: `maxmemory-policy`, `notify-keyspace-events`, `slowlog-log-slower-than`, and `slowlog-max-len`. See the App Developer guide of this documentation for more detail.

#### Operator Notes for On-Demand Service Plans

* This plan enables Redis instances to be deployed on dedicated VMs. Instances can be deployed until they reach either an opertor-set per-plan quota or global quota.
* Instances are provisioned based on the [On-Demand Services SDK](http://docs.pivotal.io/on-demand-service-broker/) and service broker adapter associated with this plan.
* `maxmemory` in `redis.conf` is set to 45% of the system memory
* Any On-Demand plan can be disabled from the plan page in OpsManager.

#### Known Limitations for On-Demand Service Plans

Limitations with the current `On-Demand` Service include:

* Operators can update certain plan settings after the plans have been created. To ensure upgrades happen across all instances, set the 'upgrade instances' errand to 'on'.
If the Operator updates the VM size, disk size, or the Redis configuration settings (enabling Lua Scripting, max-clients, timeout and TCP keep-alive), these settings will be implemented in all instances already created. Operators should not downsize the VMs or disk size as this can cause data loss in pre-existing instances.

### <a id ="lifecycle"></a>Lifecycle for On-Demand Service Plan

The image below shows the lifecycle of Redis for PCF, from an operator installing the tile, through an app developer using the service, to an operator deleting the tile.

![On-Demand Lifecycle Diagram](Redis_timeline_demand.png)


## <a id="networks"></a>On-Demand Services and Networking

### <a id="bosh2"></a>BOSH 2.0 and the Service Network

<%= partial '../../redis/odb/service_networks' %>

### <a id ="architecture_networks"></a>Default Network and Service Network

Like other on-demand PCF services, On-Demand Redis for PCF relies on the BOSH 2.0 ability to dynamically deploy VMs in a dedicated network. The on-demand service broker uses this capability to create single-tenant service instances in a dedicated service network.

<%= partial '../../redis/odb/on_demand_architecture' %>

The diagram below shows worker VMs in an on-demand service instance, such as RabbitMQ for PCF, running on a separate services network, while other components run on the default network.

![Architecture Diagram](ODB-architecture.png)

### <a id="network-rules"></a>Required Networking Rules for On-Demand Services

<%= partial '../../redis/odb/service_networks_table' %>

For a complete list of ports and ranges used in Redis for PCF, see [Network Configuration](./installing.html#network-configuration).
