---
title: Redis for PCF
owner: London Services
---

This is documentation for the [Redis service for PCF](https://network.pivotal.io/products/p-redis).

## Redis for PCF
Redis is an easy to use, high speed key-value store that can be used as a database, cache and message broker. It supports a range of data structures including strings, lists, hashes, sets, bitmaps, hyperloglogs and geospatial indexes. Persistence is provided via RDB and AOF, with backups to an S3 bucket every 24 hours.

## Product snapshot

<dl>
<dt>Current <a href="https://network.pivotal.io/products/p-redis">Redis</a> for PCF (PCF) Details</dt>
<dd><strong>Version</strong>: 1.5.25 </dd>
<dd><strong>Release Date</strong>: 8 December 2016</dd>
<dd><strong>Software component version</strong>: Redis OSS 3.0.7</dd>
<dd><strong>Compatible Ops Manager Version(s)</strong>: 1.8.x, 1.7.x, 1.6.x</dd>
<dd><strong>Compatible Elastic Runtime Version(s)</strong>: 1.8.x, 1.7.x, 1.6.x</dd>
<dd><strong>vSphere support?</strong> Yes</dd>
<dd><strong>AWS support?</strong> Yes</dd>
<dd><strong>OpenStack support?</strong> Yes</dd>
<dd><strong>IPsec support?</strong> Yes</dd>
</dl>

## Upgrading to the Latest Version

Consider the following compatibility information before upgrading Redis for PCF.

For more information, refer to the full [Product Version Matrix](http://docs.pivotal.io/compatibility-matrix.pdf).

<table border="1" class="nice">
<tr>
	  <th rowspan="2">Ops Manager Version</th>
	  <th colspan="2">Supported Upgrades from Imported Redis Installation</th>
</tr>

<tr>
	<th>From</th>
	<th>To</th>
</tr>
<tr>
    <th rowspan="5">1.5.x, 1.6.x</th>
    <td rowspan="2">1.40 - 1.4.3</td>
    <td>1.4.4 - latest 1.4.x version</td>
</tr>

<tr>
    <td>1.5.0 - 1.5.7</td>
</tr>

<tr>
    <td rowspan="2">1.4.4 - latest 1.4.x version</td>
    <td> Next 1.4.x version - latest 1.4.x version</td>
</tr>

<tr>
    <td>1.5.0 - latest 1.5.x version</td>
</tr>

<tr>
  <td>1.5.0 - latest 1.5.x version</td>
  <td>Next 1.5.x version - latest 1.5.x version</td>
</tr>
<tr>
    <th >1.7.x</th>
    <td>1.5.0 and later versions</td>
    <td>1.5.1 and later versions</td>
</tr>
<tr>
    <th rowspan="2">1.8.x</th>
    <td>1.5.17 and later versions</td>
    <td>1.6.0 and later versions</td>
</tr>
<tr>
    <td>1.6.0 and later versions</td>
    <td>1.6.1 and later versions</td>
</tr>
</table>
## Feedback

Please provide any bugs, feature requests, or questions to [the Pivotal Cloud Foundry Feedback list](mailto:pivotal-cf-feedback@pivotal.io).

## Further Reading

* [Official Redis Documentation](http://redis.io/documentation)
