---
title: Redis for PCF
owner: London Services
---

This is documentation for the [Redis service for PCF](https://network.pivotal.io/products/p-redis).

## Product snapshot

<dl>
<dt>Current <a href="https://network.pivotal.io/products/p-redis">Redis</a> for PCF (PCF) Details</dt>
<dd><strong>Version</strong>: 1.5.18 </dd>
<dd><strong>Release Date</strong>: 24 August 2016</dd>
<dd><strong>Software component version</strong>: Redis OSS 3.2.1</dd>
<dd><strong>Compatible Ops Manager Version(s)</strong>: 1.7.x, 1.6.x</dd>
<dd><strong>Compatible Elastic Runtime Version(s)</strong>: 1.7.x, 1.6.x</dd>
<dd><strong>vSphere support?</strong> Yes</dd>
<dd><strong>AWS support?</strong> Yes</dd>
<dd><strong>OpenStack support?</strong> Yes</dd>
<dd><strong>IPsec support?</strong> Yes</dd>
</dl>

## Upgrading to the Latest Version

Consider the following compatibility information before upgrading Redis for PCF.

For more information, refer to the full [Product Compatibility Matrix](http://docs.pivotal.io/compatibility-matrix.pdf).

<table border="1" class="nice">
<tr>
	  <th rowspan="2">Ops Manager Version</td>
	  <th colspan="2">Supported Upgrades from Imported Redis Installation</td>
</tr>

<tr>
	<th>From</th>
	<th>To</th>
</tr>
<tr>
    <th rowspan="6">1.5.x, 1.6.x, and 1.7.x</th>
    <td rowspan="2">1.40 - 1.4.3</td>
    <td>1.4.4 - 1.4.29</td>
</tr>

<tr>
    <td>1.5.0 - 1.5.7</td>
</tr>

<tr>
    <td rowspan="2">1.4.4 - 1.4.27</td>
    <td> Next 1.4.x version - 1.4.29</td>
</tr>

<tr>
    <td>1.5.0 - 1.5.17</td>
</tr>

<tr>
  <td>1.5.0 - 1.5.17</td>
  <td>Next 1.5.x version - 1.5.18</td>
</tr>


</table>

## Feedback

Please provide any bugs, feature requests, or questions to [the Pivotal Cloud Foundry Feedback list](mailto:pivotal-cf-feedback@pivotal.io).

## Further Reading

* [Official Redis Documentation](http://redis.io/documentation)
