---
title: Redis for PCF
owner: London Services
---

<strong><%= modified_date %></strong>

This is documentation for Redis for Pivotal Cloud Foundry (PCF).
You can download the Redis for PCF tile from [Pivotal Network](https://network.pivotal.io/products/p-redis).

This documentation:

+ Describes features and architecture of Redis for PCF.
+ Instructs the PCF operator on how to install, configure, maintain, and backup Redis for PCF.
+ Instructs the app developer on how to choose a service plan, create and delete Redis service instances, and bind an app.

##<a id="snapshot"></a> Product Snapshot

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Version</td>
        <td>v1.11.5</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>July 25, 2018</td>
    </tr>
    <tr>
        <td>Software component version</td>
        <td>Redis OSS v3.2.8</td>
    </tr>
    <tr>
        <td>Compatible Ops Manager version(s)</td>
        <td>v1.12.0 and v2.0.0</td>
    </tr>
    <tr>
        <td>Compatible Elastic Runtime<sup>*</sup> version(s)</td>
        <td>v1.12.0</td>
    </tr>
    <tr>
        <td>Compatible Pivotal Application Service (PAS)<sup>*</sup> version(s)</td>
        <td>v2.0.0</td>
    </tr>
    <tr>
        <td>IaaS support</td>
        <td>AWS, Azure, GCP, OpenStack, and vSphere</td>
    </tr>
   <tr>
        <td>IPsec support</td>
        <td>Yes</td>
    </tr>
</table>

\* As of PCF v2.0, _Elastic Runtime_ is renamed _Pivotal Application Service (PAS)_.
[//]: # (For more information, see [Pivotal Application Service (PAS) Highlights](http://docs.pivotal.io/pivotalcf/2-0/installing/highlights.html#ert). )

##<a id="about-redis"></a> About Redis

<strong><em>Redis</em></strong> is an easy to use, high speed key-value store that can be used as a database, cache, and message broker.
It supports a range of data structures including strings, lists, hashes, sets, bitmaps, hyperloglogs, and geospatial indexes.
It is easy to install and configure and is popular with engineers as a straightforward NoSQL data store.
It is used for everything from a quick way to store data for development and testing through to enterprise-scale apps like Twitter.

## <a id="about"></a> About Redis for PCF

<strong><em>Redis for PCF</em></strong> packages Redis for easy deployment and operability on Pivotal Cloud Foundry (PCF).

Redis for PCF offers On-Demand, Dedicated-VM, and Shared-VM services.

* **On-Demand Service**---Provides a dedicated VM running a Redis instance.
  The operator can configure up to three plans with different configurations, memory sizes, and quotas.
  App developers can provision an instance for any of the On-Demand plans offered and configure certain Redis settings.

* **Dedicated-VM Service**---Provides a dedicated VM running a Redis instance.
  The Dedicated-VM Service is pre-provisioned by the operator with a fixed number of VMs and memory size.
  App developers can then use one of those pre-provisioned VMs.

* **Shared-VM Service**---Provides support for a number of Redis instances running in a single VM. It is designed for testing and development.
  The Shared-VM instances are pre-provisioned by the
  operator with a fixed number of instances and memory size.
  App developers can then use one of these pre-provisioned instances.

<p class="note"><strong>Note</strong>: As of Redis for PCF v1.11, 
    the on-demand service is at feature parity with the dedicated-VM service.
    The dedicated-VM service plan will be deprecated. 
    Pivotal recommends using the on-demand service plan.</p>

For more information on the plans, see: 

* [On-Demand Service Offering](./architecture.html)
* [Dedicated-VM and Shared-VM Service Offerings](./architecture-pp.html)


### <a id="erc"></a> Is Redis for PCF right for your enterprise?

For information on recommended use cases, and the enterprise-readiness of Redis for PCF, see [Is Redis for PCF right for your enterprise?](./erc.html).

### <a id="upgrading"></a> Upgrading to the Latest Version

For information on how to upgrade and the supported upgrade paths, see [Upgrading Redis for PCF](./upgrade.html).

##<a id="more-info"></a> More Information

The following table lists where you can find topics related to the information on this page:

| For more information about&hellip; | See&hellip; |
|----------------------------|-------------|
|Product compatibility       |<a href="http://docs.pivotal.io/compatibility-matrix.pdf">Product Version Matrix</a>|
|How to upgrade Redis for PCF|<a href="upgrade.html">Upgrading Redis for PCF</a>|
|How to use Redis |<a href="http://redis.io/documentation">Redis Documentation</a>|

##<a id="other-services"></a> Redis for PCF and Other PCF Services

<%= partial '../../redis/odb/on-demand-service-table' %>

##<a id="feedback"></a> Feedback

Please provide any bugs, feature requests, or questions to [the Pivotal Cloud Foundry Feedback list](mailto:"pivotal-cf-feedback@pivotal.io").
