---
title: Redis for PCF
owner: London Services
---

<strong><%= modified_date %></strong>

This is documentation for Redis for Pivotal Cloud Foundry (PCF).
You can download the Redis for PCF tile from [Pivotal Network](https://network.pivotal.io/products/p-redis).

This documentation:

+ Describes features and architecture of Redis for PCF.
+ Instructs the PCF operator on how to install, configure, maintain, and backup Redis for PCF.
+ Instructs the app developer on how to choose a service plan, create and delete
Redis service instances, and bind an app.

##<a id="snapshot"></a> Product Snapshot

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Version</td>
        <td>2.1.2</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>May 22, 2019</td>
    </tr>
    <tr>
        <td>Software component version</td>
        <td>Redis OSS 5.0.4</td>
    </tr>
    <tr>
        <td>Compatible Ops Manager version(s)</td>
        <td>2.4 and 2.5</td>
    </tr>
    <tr>
        <td>Compatible Pivotal Application Service (PAS) version(s)</td>
        <td>2.4 and 2.5</td>
    </tr>
    <tr>
        <td>IaaS support</td>
        <td>AWS, Azure, GCP, OpenStack, and vSphere</td>
    </tr>
   <tr>
        <td>IPsec support</td>
        <td>Yes</td>
    </tr>
</table>

##<a id="about-redis"></a> About Redis

<strong><em>Redis</em></strong> is an easy to use, high speed key-value store that can be used as a database, cache, and message broker.
It supports a range of data structures including strings, lists, hashes, sets, bitmaps, hyperloglogs, and geospatial indexes.
It is easy to install and configure and is popular with engineers as a straightforward NoSQL data store.
It is used for everything from a quick way to store data for development and testing through to enterprise-scale apps like Twitter.

## <a id="about"></a> About Redis for PCF

<strong><em>Redis for PCF</em></strong> packages Redis for easy deployment and operability on Pivotal Cloud Foundry (PCF).

<%= partial 'service-offerings' %>

For more information on the plans, see:

* [On-Demand Service Offering](./architecture.html)
* [Shared-VM Service Offering](./architecture-pp.html)


### <a id="erc"></a> Is Redis for PCF right for your enterprise?

For information on recommended use cases, and the enterprise-readiness of Redis for PCF, see [Is Redis for PCF right for your enterprise?](./erc.html).

### <a id="upgrading"></a> Upgrading to the Latest Version

For information on how to upgrade and the supported upgrade paths, see [Upgrading Redis for PCF](./upgrade.html).

##<a id="more-info"></a> More Information

The following table lists where you can find topics related to the information on this page:

| For more information about&hellip; | See&hellip; |
|----------------------------|-------------|
|Product compatibility       |<a href="http://docs.pivotal.io/compatibility-matrix.pdf">Product Version Matrix</a>|
|How to upgrade Redis for PCF|<a href="upgrade.html">Upgrading Redis for PCF</a>|
|How to use Redis |<a href="http://redis.io/documentation">Redis Documentation</a>|

<!-- Partials are in https://github.com/pivotal-cf/docs-services-partials -->

##<a id="other-services"></a> Redis for PCF and Other PCF Services

<%= partial '../../redis/odb/on-demand-service-table' %>

##<a id="feedback"></a> Feedback

Please provide any bugs, feature requests, or questions to [the Pivotal Cloud Foundry Feedback list](mailto:"pivotal-cf-feedback@pivotal.io").
