---
title: Installing and Upgrading Redis for PCF
owner: London Services
---

## <a id="install"></a>Download and Install the Tile

To add Redis for PCF to Ops Manager, follow the procedure for adding Pivotal Ops Manager tiles:

1. Download the product file from [Pivotal Network](https://network.pivotal.io/products/p-redis).
1. Upload the product file to your Ops Manager installation.
1. Click **Add** next to the uploaded product description in the Available Products view to add this product to your staging area.
1. (Optional) Click the newly added tile to configure your [possible service plans](#configuration), [syslog draining](#syslog), and [backups](#backup).
1. Click **Apply Changes** to install the service.

After installing, be sure to:

+ Monitor the health and performance of your Redis instances by setting up [logging] (https://docs.pivotal.io/redis/1-8/installing.html#syslog).
+ Understand the usage of different plans by setting up tracking of [usage metrics] (https://docs.pivotal.io/redis/1-8/monitoring.html) 
and updating the quota per plan if you run into issues. 
+ Communicate with your App Developers to understand how the plans are meeting their use case. You can update your plans, 
including resource sizing if your App Developers need to grow beyond the current plan's resource size.

## <a id="configuration"></a>Configuring PCF Redis

###  <a id="service-plans"></a>Configure Redis Service Plans

Select the **Redis** tile from the Installation Dashboard to display the configuration page and allocate resources to Redis service plans.

####  <a id="on-demand-config"></a>On-Demand Plans

1. Navigate to the On-Demand Service Settings tab. Enter the global quota for all on-demand instances for every on demand plan. Please review the guidance on how to understand the [resource implications for on-demand instances] (./recommended.html#resources).
Additionally tick the checkbox to allow for outbound internet access. This is critical for service instances to be able to use logs or backups. Additionally, this the checkbox must be ticked if an external blob store has been configured for BOSH.
<br/>
![settings](on-demand-settings.png)

1.  Three opinionated plans are provided. Instances of these plans are intended to be used as different cache sizes, as reflected in the default settings for the plan. The Operator should configure appropriate memory and disk sizes, according to the use case. Examples are listed below. Note that resource configuration options may vary on different IAASs. <br/>
  * **cache-small** - A Redis instance deployed to a dedicated VM, suggested to be configured with ~1GB of memory and >3.5GB of persistent disk.
  * **cache-medium** - A Redis instance deployed to a dedicated VM, suggested to be configured with ~2GB of memory and >10GB of persistent disk.
  + **cache-large** - A Redis instance deployed to a dedicated VM, suggested to be configured with ~4GB of memory and >14GB of persistent disk. <br/>

1. Configure the following settings for your plan. Any pre-populated default settings have been pre-configured according to the memory/disk size of each plan.
  * **Make the plan active or inactive** - An inactive plan does not need any further configuration.
  * **Set plan name and description** - This is the information that will appear in the service catalog so specify details that will be relevant to App Developers.
  * **Set the plan quota** - App Developers can create instances until this quota is reached.
  * **Set the access for the plan** accessible to all orgs, inaccessible to all orgs, or leave as is (this setting does not modify the permissions that have been previously set and allows for manual access to be configured from the CLI).
  * **Set the AZ** - This is the AZ in which to deploy the Redis instances from the plan. This must be one of the AZs of the service network (configured in the Ops Manager Director tile).
  * **Select the Server VM type and Server Disk type** - We recommend that the **persistent disk should be at least 3.5x the VM memory**.
  * **Adjust the Redis Client Timeout as needed** - Redis Client Timeout refers to the server timeout for an idle client specified in seconds. The default setting is 3600.
  * **Adjust the Redis TCP Keepaplive from the default as needed** - Redis TCP Keepalive refers to the interval (in seconds) at which TCP ACKS are sent to clients. The default setting is 60.
  * **Adjust the Max Clients from the default as needed** - Max Clients refers to the maximum number of clients that can be connected at any one time. Per plan, the default setting is 1000 for small, 5000 for medium and 10000 for large.
  * **Enable or disable Lua Scripting as needed** - The default settig is to have Lua Scripting enabled.
![on demand config](on-demand-config.png)

1.  Click the **Save** button.

Note:

Operators can update certain settings after the plans have been created. If the Operator updates the VM size, disk size, or the Redis configuration settings (enabling Lua Scripting, max-clients, timeout and TCP keep-alive), these settings will be implemented in all instances already created. Operators should not downsize the VMs or disk size as this can cause data loss in pre-existing instances. Additionally, Operators cannot make a plan that was previously active, inactive, until all instances of that plan have been deleted.


If you wish to remove any On-Demand Service Plans from your tile: <br/>
* Navigate to the 'Resource Config' page on the Redis tile. Set the instances for all On-demand broker related jobs to 0 (includes 'Redis On-demand Broker', 'Register On-demand Redis Broker', 'Upgrade all On-demand Redis Service Instances', 'Degregister On-demand Redis Broker', 'On-Demand Broker SmokeTests'). <br/>
* Navigate to the 'Errands' page on the Redis tile. Uncheck the Errands for 'Register On-demand Redis Broker', 'On-demand Broker Smoke Tests', 'Upgrade all On-demand Redis Service Instances' and 'Deregister On-demand Redis Broker'.


####  <a id="shared-vm-config"></a>Shared-VM Plan

1.  Select the **Shared-VM Plan** tab to configure the memory limit for each Redis instance and the maximum number of instances that can be created.
![shared vm config](shared-vm-config.png)

1.  Enter the maximum number of instances and the memory limit for each Redis instance.

1.  Click the **Save** button.

    <br />Shared-VM instances run on the Redis Broker.

    <br />The memory and instance limits for your Shared-VM Redis instances should depend on the total memory of your Redis broker.
    When configuring the maximum number of Redis service instances that can be created you need to take into account the maximum memory each redis instance could use in correlation with how much total memory the Redis broker has.
    We recommend you only allow up to 45% of your Redis broker's total memory to be used by all Redis instances.
    This is due the amount of memory required to support Redis persistence, and run Redis broker & system tasks.

    <br />See below for example cases:

    <table border="1" class="nice">
    	<tr>
    		<th>Redis Broker Total Memory</th>
    		<th>Redis Instance Memory Limit</th>
    		<th>Redis Service Instance Limit</th>
    	</tr>
    	<tr>
    	 	<td>16GB</td>
    	 	<td>512MB</td>
    	 	<td>14</td>
     	</tr>
      <tr>
    	 	<td>16GB</td>
    	 	<td>256MB</td>
    	 	<td>28</td>
     	</tr>
      <tr>
    	 	<td>64GB</td>
    	 	<td>512MB</td>
    	 	<td>56</td>
     	</tr>
    </table>


    <br />It is possible to configure a larger Redis Service Instance Limit, if you are confident that the majority of the deployed instances will not be using a large amount of their allocated memory, for example in development or test environments.
    <p class="note"><strong>Note</strong>:
      This is not supported, and could cause your server to run out of memory.
      If this happens your users may not be able to write any further data to any Redis instance.
    </p>


1.  Select the **Resource Config** tab to change the allocation of resources for the Redis Broker.
    <br />The Redis Broker server will run all of the Redis instances for your Shared-VM plan. From this screen you may increase or decrease the CPU, RAM, Ephemeral Disk & Persistent Disk made available, as required.

1.  Click the **Save** button.

####  <a id="dedicated-vm-config"></a>Dedicated-VM Plan

1.  Select the **Resource Config** tab to change the allocation of resources for the Dedicated Node.
![dedicated vm config](dedicated-vm-config.png)

    <br />By default, 5 dedicated nodes will be created, each capable of running one Redis instance. You can increase or decrease the number of dedicated nodes, the size of the Persistent and Ephemeral Disks, and the CPU and RAM, as required.
The default VM size is small; it is important that the operator set the correct VM size to handle anticipated loads. Redis maxmemory is set to 45% of RAM. It is recommended the persistent disk be set to 3.5x the amount of RAM.

1.  Click the **Save** button.


### <a id="syslog"></a>Configure Syslog Output

Pivotal recommends that operators configure a syslog output.
For On-Demand instances, all logs follow RFC5424 format. Dedicated-VM and Shared-VM plan instances are consistent with their previous format.

1.  Add the Syslog address, Syslog port and transport protocol of your log management tool.

    The information required for these fields is provided by your log management tool.

    ![syslog configuration](syslog-forwarding.png)

1.  Click the **Save** button.


### <a id="azs"></a>Networks, Security, and Assigning AZs

####  <a id="network-configuration"></a>Network Configuration

The following ports and ranges are used in this service:

* Destination port 12350 access to the legacy broker from the cloud controllers
* Destination port 12345 access to the On-Demand broker from the cloud controllers
* Destination port 6379 access to all dedicated nodes from the Diego Cell and Diego Brain network(s)
* Destination ports 32768 to 61000 on the service broker from the Diego Cell and Diego Brain network(s). This is only required for the shared service plan.
* Outbound access to your chosen blobstore, typically HTTP 80 or HTTPS 443
* All Redis instances now have a consul agent co-located for service discovery and DNS.
This means instances need to be able to listen on port `8301`

####  <a id="asg"></a> Application Security Groups###

To allow this service to have network access you must create [Application Security Groups (ASGs)](http://docs.pivotal.io/pivotalcf/1-10/adminguide/app-sec-groups.html). Ensure your security group allows access to the Redis Service Broker VM and Dedicated VMs configured in your deployment. You can obtain the IP addresses for these VMs in Ops Manager under the <strong>Resource Config</strong> section for the Redis tile.</p>

<p class="note"><strong>Note</strong>: Without ASGs, this service is unusable.</p>

##### Application Container Network Connections

Application containers that use instances of the Redis service require the following outbound network connections:

<table><thead>
<tr>
<th>Destination</th>
<th>Ports</th>
<th>Protocol</th>
<th>Reason</th>
</tr>
</thead><tbody>
<tr>
<td><code>ASSIGNED_NETWORK</code></td>
<td>32768-61000</td>
<td>tcp</td>
<td>Enable application to access shared vm service instance</td>
</tr>
<tr>
<td><code>ASSIGNED_NETWORK</code></td>
<td>6379</td>
<td>tcp</td>
<td>Enable application to access dedicated vm service instance</td>
</tr>
</tbody></table>

Create an ASG called `redis-app-containers` with the above configuration and bind it to the appropriate space or, to give all started apps access, bind to the `default-running` ASG set and restart your apps. Example:

```json
[
  {
    "protocol": "tcp",
    "destination": "<code>ASSIGNED_NETWORK</code>",
    "ports": "6379"
  }
]
```

####  <a id="az-config"></a>Assigning AZs
Assigning multiple AZs to Redis jobs will not guarantee high availability.

All of your Shared-VM instances will run on a single node in just one of the configured availability zones and are therefore not highly availabile.

Each On-Demand instance could be assigned to any of the configured availability zones, however each instance still operates as a single node with no clustering. This separation over availability zones provides no high availability.

Each Dedicated-VM instance could be assigned to any of the configured availability zones, however each instance still operates as a single node with no clustering. This separation over availability zones provides no high availability.

![AZ Assignment Diagram](AZ-assignment.png)

## <a id="validation"></a>Validating Installation

### Smoke tests

Smoke tests are run as part of Redis for PCF installation to validate that the install succeeded. Smoke tests are described <a href="https://docs.pivotal.io/redis/1-8/smoke-tests.html">here</a>.

## <a id="upgrades"></a>Upgrading Redis for PCF

This product enables a reliable upgrade experience between versions of the product that is deployed through Ops Manager.

The upgrade paths are detailed [here](http://docs.pivotal.io/redis/1-6/index.html) for each released version.

To upgrade the product:

* The Operator should download the latest version of the product from [Pivotal Network](https://network.pivotal.io/products/p-redis)
* Upload the new .pivotal file to Ops Manager
* Upload the stemcell associated with the update (*if required*)
* Update any new mandatory configuration parameters (*if required*)
* Press "Apply changes" and the rest of the process is automated

During the upgrade deployment each Redis instance will experience a small period of downtime as each Redis instance is updated with the new software components. This downtime is because the Redis instances are single VMs operating in a non HA setup. The length of the downtime depends on whether there is a stemcell update to replace the operating system image or whether the existing VM can simply have the redis software updated. Stemcells updates incur additional downtime while the IaaS creates the new VM while updates without a stemcell update are faster.

Ops Manager ensures the instances are updated with the new packages and any configuration changes are applied automatically.

Upgrading to a newer version of the product does not cause any loss of data or configuration. This is explicitly tested for during our build and test process for a new release of the product.

### Release policy

When a new version of Redis is released we aim to release a new version of the product containing this soon after.

Where there is a new version of Redis or another dependent software component such as the stemcell released due to a critical CVE, Pivotal's goal is to release a new version of the product within 48 hours.

## <a id="uninstall"></a>Uninstalling Redis for PCF

To uninstall Redis for PCF, click on the trashcan icon in the lower right hand corner of the PCF Redis tile in the PCF Ops Manager Installation dashboard. Confirm deletion of the product and click apply changes.
