---
title: Installing Redis for PCF
owner: London Services
---

<strong><%= modified_date %></strong>

This topic describes the process of installing Redis for PCF.
It covers tasks from downloading the file from the Pivotal Network
through verifying the installation after configuration.

## <a id="rbac"></a>Role-Based Access in Ops Manager

Ops Manager administrators can use Role-Based Access Control (RBAC) to manage which
operators can make deployment changes, view credentials, and manage user roles in Ops Manager.
Therefore, your role permissions might not allow you to perform every procedure in this operator guide.

For more information about roles in Ops Manager, see
    <a href="https://docs.pivotal.io/pivotalcf/opsguide/config-rbac.html#about">
        Understand Roles in Ops Manager</a>.</p>

## <a id="install"></a>Download and Install the Tile

<p class="note"><strong>Note:</strong> Before using Redis for PCF v1.14.0 and later, you must update any BOSH add-ons to support Xenial stemcells. See <a href="./upgrade.html#update-addons">Update Add-ons to Run with Xenial Stemcell</a>.</p>

To add Redis for Pivotal Cloud Foundry (PCF) to Ops Manager, follow the procedure for adding PCF Ops Manager tiles:

1. Download the Redis for PCF file from [Pivotal Network](https://network.pivotal.io/products/p-redis).
Select the latest release from the **Releases** dropdown.
1. In the PCF Ops Manager Installation Dashboard, click **Import a Product** to upload the Redis for PCF file.
1. Click the **+** sign next to the uploaded product description to add the tile to your staging area.
1. To configure Redis for PCF, click the newly added tile. See configuration instructions in the sections below.
1. After completing the required configuration, in the Ops Manager Dashboard, do the following to complete the installation:

    1. If you are using Ops Manager v2.3 or later, click **Review Pending Changes**.
    For more information about this Ops Manager page, see
    [Reviewing Pending Product Changes](https://docs.pivotal.io/pivotalcf/customizing/review-pending-changes.html).<br><br>
    1. Click **Apply Changes**.


For guidance on ports and ranges used in the Redis service, see [Select Networks](#network-configuration) below.

## <a id="azs"></a>Assign AZs and Networks

To assign AZs and networks, click the **Assign AZs and Networks** settings tab.

![AZ Assignment Diagram](AZ-assignment.png)

###  <a id="az-config"></a>Assign AZs

As of Redis for PCF v1.9, you can assign multiple AZs to Redis jobs, however this does not guarantee high availability.
For more information, see [Support for Multiple AZs](erc.html#other-notes).

To assign AZs, do the following:

1. In the **Assign AZs and Networks** tab, make your selections under **Place singleton jobs in** and **Balance other jobs in**.
1. Click **Save**.


### <a id="network-configuration"></a>Select Networks

You can use Redis for PCF with or without using the on-demand service.
To use the Redis for PCF on-demand service, you must select a network in which
the service instances are created.
For more information, see [Networking for On-Demand Services](./odnetworking.html).

<div class="note"><strong>Note</strong>:
  In Ops Manager v2.0 and earlier, a specific network was designated as the
  Service Network to reserve IPs for the on-demand service.
  As of Ops Manager v2.1, IPs are no longer managed in this way.
  All networks are now available to use as a Service Network.</div>

To select networks, do the following:

1. In the **Assign AZs and Networks** tab, select a **Network**.<br><br>
    Pivotal recommends that each type of PCF service run in its own network.
    For example, run Redis for PCF on a separate network from RabbitMQ for PCF.

1. If using the on-demand service, select a **Service Network**.
Otherwise, select an [empty service network](https://discuss.pivotal.io/hc/en-us/articles/115010154387).

#### Port Ranges Used in Redis for PCF

The following ports and ranges are used in Redis for PCF:

| Port                  | Protocol                     | Direction and Network                                                                          | Reason                                                                                                                      |
|:----------------------|:-----------------------------|:-----------------------------------------------------------------------------------------------|:----------------------------------------------------------------------------------------------------------------------------|
| 8300<br>8301             | TCP<br>TCP and UDP | Inbound to Cloud Foundry network, outbound from service broker and service instance networks* | Communication between the CF consul\_server and consul\_agents on Redis deployment; used for metrics                         |
| 8202                  | TCP                          | Inbound to Cloud Foundry network, outbound from service broker and service instance networks* | Used by the Redis metron_agent to forward metrics to the Cloud Foundry Loggregator                                          |
| 12350                 | TCP                          | Outbound from Cloud Foundry to the cf-redis-broker service broker network                       | (Only if using a cf-redis-broker) Access to the cf-redis-broker from the cloud controllers.                                 |
| 8080                 | TCP                          | Outbound from Cloud Foundry to the on-demand service broker network                             | (Only if using an On-Demand service) For access to the on-demand service broker from the cloud controllers          |
| 6379                  | TCP                          | Outbound from Cloud Foundry to any service instance networks (on-demand)                       | Access to all on-demand nodes from the Diego Cell and Diego Brain network(s)                            |
| 32768-61000           | TCP                          | Outbound from Cloud Foundry to the cf-redis-broker service broker network                       | From the Diego Cell and Diego Brain network(s) to the service broker VM. This is only required for the shared service plan. |
| 80 or 443<br>(Typically) | http or https<br>respectively  | Outbound from any service instance networks                                                    | Access to the backup blobstore                                                                                             |
| 8443<br>25555           | TCP                          | Outbound from any on-demand service broker network to the BOSH Director network                | For the on-demand service, the on-demand service broker needs to talk to the BOSH Director                                    |

\* Typically the service broker network and service instance network(s) are the same.

<%= partial "breaking-change-ports" %>


##  <a id="service-plans"></a>Configure Redis for PCF Service Plans

Click the Redis for PCF tile in the Ops Manager Installation Dashboard to display the configuration page
and allocate resources to Redis service plans.</br></br>

###  <a id="on-demand-config"></a>On-Demand Service Settings

1. Click **On-Demand Service Settings**, and then enter the **Maximum service instances across all on-demand plans**.
The maximum number of instances you set for all your on-demand plans combined cannot exceed this number.</br></br>
    ![settings](redis-odservice-settings.png)<br><br>
    For more information, see [Setting Limits for On-Demand Service Instances](./set-quotas.html).

1. Select the **Allow outbound internet access from service instances** checkbox.
   You must select this checkbox to allow external log forwarding, send backup artifacts to external destinations,
   and communicate with an external BOSH blob store.
  <p class="note"><strong>Note</strong>: Outbound network traffic rules also depend on your IaaS settings.
      Consult your network or IaaS administrator to ensure that your IaaS allows outbound traffic to the external networks you need.</p>
  <%= partial "warning-azure-outbound-internet-access" %>

1. (Optional) Select the checkbox to enable **Service Instance Sharing**.
   This is a Beta feature.
   Turning on sharing enables this experimental feature for all on-demand instances.
    <p class="note"><strong>Note</strong>: To enable this feature a user with admin privileges
  must run <code>cf enable-feature-flag service\_instance\_sharing</code>.
 For information about this feature, see [Sharing a Redis Instance with Another Space (Beta)](./using.html#sharing).
  </p>

1. (Optional) Use the **Maximum Parallel Upgrades** field to configure the
maximum number of Redis service instances that can be upgraded at the same time.
<br><br>
  When you click **Apply Changes**, the on-demand broker upgrades all service instances.
  By default, each instance is upgraded serially.
  Allowing parallel upgrades reduces the time taken to apply changes.
  <p class="note"><strong>Note</strong>:
    Multiple Redis service instances will be concurrently unavailable during the upgrade.
  </p>

1. (Optional) Use the **Number of Canaries to run before proceeding with upgrade** field
and the **Specify Org and Space that Canaries will be selected from?** options to specify
settings for upgrade canaries.
Canaries are service instances that are upgraded first.
The upgrade fails if any canaries fail to upgrade. <br><br>
Canaries can be limited by number and by org and space.
If you want to use all service instances in an org and space as canaries,
set the number of canaries zero. This upgrades all service instances in the selected org and space first.<br><br>
  ![canary-options](canary-options.png)
  <p class="note"><strong>Note</strong>:
    If you specify that canaries should be limited to an org and space that has
    no service instances, the upgrade fails.
  </p>
  <p class="note"><strong>Note</strong>:
    Canary upgrades comply with the Maximum Parallel Upgrades settings.
    If you specify three canaries and a Maximum Parallel Upgrades of two,
    then two canaries upgrade, followed by the third.
  </p>
For information about this feature, see `canaries` in
[Upgrade All Service Instances](https://docs.pivotal.io/svc-sdk/odb/operating.html#upgrade-all-instances)
in the On-Demand Services SDK documentation.

1. (Optional) Select the checkbox to enable **BOSH HotSwaps**.
This reduces downtime during upgrades.
For how this feature works, see
<a href="https://bosh.io/docs/changing-deployment-vm-strategy/">Changing VM Update Strategy</a>.

1. To configure an on-demand plan, click **On-Demand Plan 1**, **2**, or **3**.</br></br>

    You can configure up to three on-demand plans with appropriate memory and disk sizes for your use case(s).
    Resource configuration options may vary on different IaaSes.


    The default names of the three on-demand plans provided reflect that instances of these plans are intended to be used for different cache sizes:
    * **cache-small**: A Redis instance deployed to a dedicated VM, suggested to be configured with 1&nbsp;GB of memory and more than 2.5&nbsp;GB of persistent disk
    * **cache-medium**: A Redis instance deployed to a dedicated VM, suggested to be configured with 2&nbsp;GB of memory and more than 5&nbsp;GB of persistent disk
    * **cache-large**: A Redis instance deployed to a dedicated VM, suggested to be configured with 4&nbsp;GB of memory and more than 10&nbsp;GB of persistent disk

    ![on demand config](on-demand-config.png) <a id="planconfig"></a>

1. Configure the following settings for your on-demand plan(s).
   Any pre-populated default settings are pre-configured according to the memory and disk size of each plan.
    <table class="nice">
          <th>Field</th>
          <th>Description</th>
          <tr>
            <td>**Plan**</td>
            <td><strong>Select Plan Active</strong> or <strong>Plan Inactive</strong>.
                An inactive plan does not need any further configuration.</td>
          </tr>
          <tr>
            <td>**Plan Name**</td>
            <td>Enter a name that will appear in the Marketplace.</td>
          </tr>
          <tr>
            <td>**Plan Description**</td>
            <td>Enter a description that will appear in the Marketplace.
                Specify details that will be relevant to app developers.</td>
          </tr>
          <tr>
            <td>**Plan Quota**</td>
            <td>Enter the maximum number of instances of this plan that app developers can create.
              For more information, see [Setting Limits for On-Demand Service Instances](./set-quotas.html).</td>
          </tr>
          <tr>
            <td>**CF Service Access**</td>
            <td>Select a service access level.
                This setting does not modify the permissions that have been previously set,
                and allows for manual access to be configured from the CLI.</td>
          </tr>
          <tr>
            <td>**AZ to deploy Redis instances of this plan**</td>
            <td>These are the AZs in which to deploy the Redis instances from the plan.
                These must be AZs of the service network (configured in the BOSH Director tile).
                If you select multiple AZs, instances are distributed randomly between them.</td>
          </tr>
          <tr>
            <td>**Server VM type**</td>
            <td>Select the VM type.
                Pivotal recommends that the **persistent disk should be at least 2.5x the VM memory for the on-demand broker and 3.5x the VM memory for cf-redis-broker**.</td>
          </tr>
          <tr>
            <td>**Server Disk type**</td>
            <td>Select the disk type.
                Pivotal recommends that the **persistent disk should be at least 2.5x the VM memory for the on-demand broker and 3.5x the VM memory for cf-redis-broker**.</td>
          </tr>
          <tr>
            <td>**Redis Client Timeout**</td>
            <td>This field refers to the server timeout for an idle client specified in seconds.
                The default setting is 3600.
                Adjust this setting as needed.</td>
          </tr>
          <tr>
            <td>**Redis TCP Keepalive**</td>
            <td>Redis TCP Keepalive refers to the interval (in seconds) at which TCP ACKS are sent to clients.
                The default setting is 60.
                Adjust this setting as needed.</td>
          </tr>
          <tr>
            <td>**Max Clients**</td>
            <td>Max Clients refers to the maximum number of clients that can be connected at any one time.
                Per plan, the default setting is 1000 for small, 5000 for medium and 10000 for large.
                Adjust this setting as needed.</td>
          </tr>
          <tr>
            <td>**Lua Scripting**</td>
            <td>Enable or disable Lua scripting as needed.
                Pivotal recommends that Lua Scripting is disabled.</td>
          </tr>
    </table>

1.  Click **Save**.

#### <a id="secure-credentials"></a>(Optional) Enabling Secure Service Instance Credentials for On-Demand Redis

To secure your on-demand service instance credentials in runtime
[CredHub](https://docs.pivotal.io/pivotalcf/credhub/) instead of the Cloud Controller
Database (CCDB), do the following:

<p class="note"><strong>Note:</strong> This is a beta feature. Use it at your own risk in non-production environments. Send comments and feedback to the <a href="mailto:pivotal-cf-feedback@pivotal.io">PCF Feedback List</a>.</p>

1. Configure the Pivotal Application Service (PAS) tile to support securing service
instance credentials in runtime CredHub.
See [Step 1: Configure the PAS Tile](https://docs.pivotal.io/pivotalcf/opsguide/secure-si-creds.html#pas-config).

1. After deploying the tile, notify developers that they must unbind and rebind
existing service instances to secure their credentials with CredHub.

#### <a id="change-on-demand"></a>Updating On-Demand Service Plans

Operators can update certain settings after the plans have been created.
If the operator updates the VM size, disk size, or the Redis configuration settings
(enabling Lua Scripting, max-clients, timeout and TCP keep-alive),
these settings are implemented in all instances that are already created.

Operators should not downsize the VMs or disk size because this can cause data loss in pre-existing instances.
Additionally, operators cannot make a plan that was previously active, inactive, until all instances of that plan have been deleted.

#### <a id="remove-on-demand"></a>Removing On-Demand Service Plans

If you want to remove the On-Demand Service from your tile, do the following: <br/>

1. Go to the **Resource Config** page on the Redis for PCF tile, and set the **Redis On-Demand Broker** job instances to 0.

1. Navigate to the **Errands** page on the Redis for PCF tile, and set the following errands to **off**:
    * Register On-Demand Broker
    * On-Demand Broker Smoke Tests
    * Upgrade All On-Demand Service Instances
    * Delete All Service Instances and Deregister On-Demand Broker

1. Create an empty service network.
   For instructions, see this [Knowledge Base article](https://discuss.pivotal.io/hc/en-us/articles/115010154387).

1. Go to each of the three On-Demand Plan pages on the Redis for PCF tile, and set each plan to **Plan Inactive**.
   For example:
  ![cache plan inactive](cache-plan-inactive.png)

###  <a id="shared-vm-config"></a>Shared-VM Plan

1.  Select the **Shared-VM Plan** tab.
![shared vm config](shared-vm-config.png)

1.  Configure these fields:<br><br>
      * **Redis Instance Memory Limit**---Maximum memory used by a shared-VM instance
      * **Redis Service Instance Limit**---Maximum number of shared-VM instances
      * **Lua Scripting**---Enable or disable Lua Scripting as needed. Pivotal recommends that Lua Scripting be disabled.

 	Memory and instance limits depend on the total system memory of your Redis broker VM and require some
 	additional calculation. For more information, see [Memory Limits for Shared-VM Plans](#shared-vm-memory-limits) below.

1. Click **Save**.

1. If you do not want to use the on-demand service, you must make all of the on-demand service plans inactive.
Click the tab for each on-demand plan, and select **Plan Inactive**.
See the example in Step 4 of [Removing On-Demand Service Plans](#remove-on-demand) above.

1. To change the allocation of resources for the Redis broker, click the **Resource Config** tab.
    <br><br>The Redis broker server runs all of the Redis instances for your Shared-VM plan.
    From the **Resource Config** page, you can change the CPU, RAM, Ephemeral Disk, and Persistent Disk made available, as needed.

#### <a id="shared-vm-memory-limits"></a>Memory Limits for Shared-VM Plans

Additional calculation is required to configure memory limits for shared-VM plans.
With these plans, several service instances share the VM, and the Redis broker also runs on this same VM.
Therefore, the memory used by all the shared-vm instances combined should be at most 45% of the memory of the Redis broker VM.

To configure the limits in these fields,
estimate the maximum memory that could be used by all your Redis shared-VM instances combined.
If that figure is higher than 45% of the Redis broker
VM's total system memory, you can do one of the following:

  + Decrease the **Redis Instance Memory Limit**.
  + Decrease the number of instances in **Redis Service Instance Limit**.
  + Increase the RAM for the Redis Broker in the **Resource Config** tab as shown below.

    <img src="./images/redis-broker-resource.png">

  Here are some examples for setting these limits:

  <table border="1" class="nice">
      <tr>
        <th>Redis Broker VM Total Memory</th>
        <th>Redis Instance Memory Limit</th>
        <th>Redis Service Instance Limit</th>
      </tr>
      <tr>
        <td>16&nbsp;GB</td>
        <td>512&nbsp;MB</td>
        <td>14</td>
      </tr>
      <tr>
        <td>16&nbsp;GB</td>
        <td>256&nbsp;MB</td>
        <td>28</td>
      </tr>
      <tr>
        <td>64&nbsp;GB</td>
        <td>512&nbsp;MB</td>
        <td>56</td>
      </tr>
  </table>

  <p class="note"><strong>Note</strong>: You can configure a larger
    <strong>Redis Service Instance Limit</strong>, if you are confident that the
    majority of the deployed instances will not use a large amount of their allocated memory,
    for example in development or test environments.<br><br>
    However, this practice is not supported and can cause your server to run out of memory,
    preventing users from writing any more data to any Redis shared-VM instance.
    Do not use shared-VM instances in production environments.
  </p>


### <a id="resources"></a>Configure Resources for Shared-VM Plans

To configure resources for the Shared-VM plans, click the **Resource Config** settings tab on the Redis for PCF tile.

* The Shared-VM plan is on the **Redis Broker** resource.

The following are the default resource and IP requirements for Redis for PCF when using the Shared-VM plans:
<table border="1" class="nice">
  <tr>
    <th>Product</th>
    <th>Resource</th>
    <th>Instances</th>
    <th>CPU</th>
    <th>Ram</th>
    <th>Ephemeral</th>
    <th>Persistent</th>
    <th>Static IP</th>
    <th>Dynamic IP</th>
  </tr>
  <tr>
    <td>Redis</td>
    <td>Redis Broker</td>
    <td>1</td>
    <td>2</td>
    <td>3072</td>
    <td>4096</td>
    <td>9216</td>
    <td>1</td>
    <td>0</td>
  </tr>
  <tr>
    <td>Redis</td>
    <td>Broker Registrar</td>
    <td>1</td>
    <td>1</td>
    <td>1024</td>
    <td>2048</td>
    <td>0</td>
    <td>0</td>
    <td>1</td>
  </tr>
  <tr>
    <td>Redis</td>
    <td>Broker De-Registrar</td>
    <td>1</td>
    <td>1</td>
    <td>1024</td>
    <td>2048</td>
    <td>0</td>
    <td>0</td>
    <td>1</td>
  </tr>
  <tr>
    <td>Redis</td>
    <td>Compliation</td>
    <td>2</td>
    <td>2</td>
    <td>1024</td>
    <td>4096</td>
    <td>0</td>
    <td>0</td>
    <td>1</td>
  </tr>
</table>

### <a id="disable-shared"></a>Disable Shared VM Plans

You can disable Shared VM Plans by doing the following while configuring Redis tile:

1. Ensure at least one On-Demand plan is active.

1. Configure the following tabs:<br><br>
  * **Shared-VM Plan**:<br>
    a. Set **Redis Service Instance Limit** to 0.<br>
    b. Click **Save**.<br><br>
  * **Errands**:<br>
    a. Set **Broker Registrar** to Off.<br>
    b. Set **Smoke Tests** to Off.<br>
    c. Set **Broker Deregistrar** to Off.<br>
    d. Leave all four On-Demand errands On. <br>
    e. Click **Save**.<br><br>
  * **Resource Config**:<br>
    a. Decrease **Redis Broker** Persistent disk type to the smallest size available.<br>
    b. Decrease **Redis Broker** VM type to the smallest size available.<br>
    c. Click **Save**.<br>

### <a id="configurations"></a>Additional Redis Configurations

You can update certain plan settings after the plans have been created.
Updates to the settings for the components below are implemented in all existing instances:

* VM size
* Disk size
* Redis configuration settings:
  * Lua Scripting
  * Max-clients
  * Timeout
  * TCP keep-alive

<p class="warning note"><strong>WARNING: </strong>You must not downsize the VMs
  or disk size. This can cause data loss in pre-existing instances.</p>

The following table describes properties you can update in the [plan configuration page](#planconfig), shown above.

<table border="1" class="nice">
  <tr>
    <th>Property</th>
    <th>Default</th>
    <th>Description</th>
  </tr>
  <tr>
    <td><strong>Redis Client Timeout</strong></td>
    <td>3600</td>
    <td>Server timeout for an idle client specified in seconds (e.g., 3600)</td>
  </tr>
  <tr>
    <td><strong>Redis TCP Keepalive</strong></td>
    <td>60</td>
    <td>The max number of connected clients at the same time</td>
  </tr>
  <tr>
    <td><strong>Max Clients</strong></td>
    <td>1000/5000/10000 (small/medium/large)</td>
    <td>The max number of connected clients at the same time</td>
  </tr>
  <tr>
    <td><strong>Lua Scripting</strong></td>
    <td>Enabled</td>
    <td>Enable/Disable Lua scripting</td>
  </tr>
  <tr>
    <td><strong>Plan Quota</strong></td>
    <td>20</td>
    <td>Maximum number of Redis service instances for this plan, across all orgs and spaces.
    For more information, see <a href="./set-quotas.html">Setting Limits for On-Demand Service Instances</a>.</td>
  </tr>
</table>

For settings that app developers can configure, see [Customize an On-Demand Service Instance](./using.html#custom).

## <a id="syslog"></a>Configure Syslog Forwarding

Pivotal recommends that operators configure syslog forwarding to a remote destination.
Forwarding your system logs to a remote destination lets you:

* View logs from every VM in the Redis for PCF deployment in one place.
* Effectively troubleshooting when logs are lost on the source VM.
* Set up alerts for important error logs to monitor the deployment.

All logs follow RFC5424 format.

To configure syslog forwarding, do the following:

1. Click the Redis for PCF tile to display the configuration page, and then click the **Syslog** tab.

    <br>![syslog configuration](syslog-forwarding5.png)

1. Select either **Yes without encryption** or **Yes with TLS encryption**.

    <p class="note"><strong>Note:</strong> To use syslog forwarding for on-demand instances,
       you must select the <a href="#on-demand-config"> Allow outbound internet access from service instances</a>
       checkbox in the <strong>On-Demand Service Settings</strong> tab.</p>

1. Enter the Syslog **Address** and **Port**, and select the **Transport protocol** of your remote destination.
   You can only use TCP if you are using TLS encryption.<br><br>
   The information required for these fields is provided by your remote destination.
   **Address** should be something such as `logs.papertrailapp.com`, and **Port** will be a number such as `41635`.

1. If you selected **Yes with TLS encryption**, complete these fields:<br><br>
  * **Permitted Peer** refers to the remote syslog destination.
    It allows each VM to establish an encrypted tunnel with the remote syslog destination.
  The Permitted Peer is either the accepted fingerprint (SHA1) or name of the remote peer, for example `*.example.com`.
  * **TLS CA certificate** refers to the trusted certificate authorities for the remote syslog destination.
    Large certificate chains (> 8&nbsp;kb) are not supported.

1.  Click **Save**.

## <a id="stemcell"></a>Update Stemcell

If required, do the following to update the stemcell for Redis for PCF:

1. Download the stemcell from [Pivotal Network](https://network.pivotal.io/products/stemcells-ubuntu-xenial).
1. In the Ops Manager, click **Stemcell Library**.
1. Click **Import Stemcell**, and then select the stemcell you downloaded from Pivotal Network.

    <br>![Stemcell Library](stemcell-library-xenial.png)
1. Click **Save**.

## <a id="apply"></a> Apply Changes from Your Configuration

Your installation is not complete until you apply your configuration changes.
Follow the steps below:

1. Return to the Ops Manager Installation Dashboard.

1. In the Ops Manager Dashboard, do the following to complete the installation:

    1. If you are using Ops Manager v2.3 or later, click **Review Pending Changes**.
    For more information about this Ops Manager page, see
    [Reviewing Pending Product Changes](https://docs.pivotal.io/pivotalcf/customizing/review-pending-changes.html).<br><br>
    1. Click **Apply Changes**.


##  <a id="asg"></a> Create Application Security Groups

To allow this service to have network access,
you must create [Application Security Groups (ASGs)](http://docs.pivotal.io/pivotalcf/1-10/adminguide/app-sec-groups.html).
Ensure your security group allows access to the Redis Service Broker VM configured in your deployment.
You can obtain the IP addresses for these VMs in Ops Manager under the <strong>Resource Config</strong> section for the Redis for PCF tile.</p>

<p class="note"><strong>Note</strong>: Without ASGs, this service is unusable.</p>

### Application Container Network Connections

Application containers that use instances of the Redis for PCF service require the following outbound network connections:

<table><thead>
<tr>
<th>Destination</th>
<th>Ports</th>
<th>Protocol</th>
<th>Reason</th>
</tr>
</thead><tbody>
<tr>
<td><code>ASSIGNED_NETWORK</code></td>
<td>32768-61000</td>
<td>tcp</td>
<td>Enable application to access shared vm service instance</td>
</tr>
<tr>
<td><code>ASSIGNED_NETWORK</code></td>
<td>6379</td>
<td>tcp</td>
<td>Enable application to access dedicated vm service instance</td>
</tr>
</tbody></table>

Create an ASG called `redis-app-containers` with the above configuration and bind it to the appropriate space or,
to give all started apps access, bind to the `default-running` ASG set and restart your apps. Example:

```json
[
  {
    "protocol": "tcp",
    "destination": "ASSIGNED_NETWORK",
    "ports": "6379"
  }
]
```


## <a id="validation"></a>Validating Installation

Smoke tests run as part of Redis for PCF installation to validate that the install succeeded.
For more information, see [Redis for PCF Smoke Tests](./smoke-tests.html).


## <a id="uninstall"></a>Uninstalling Redis for PCF

To uninstall Redis for PCF, do the following:

1. In the PCF Ops Manager Installation dashboard, click the trash can icon in the lower right hand corner of the Redis for PCF tile.
1. Confirm deletion of the product, and then do the following:
    1. If you are using Ops Manager v2.3 or later, click **Review Pending Changes**.
    For more information about this Ops Manager page, see
    [Reviewing Pending Product Changes](https://docs.pivotal.io/pivotalcf/customizing/review-pending-changes.html).<br><br>
    1. Click **Apply Changes**.
