---
title: For Operators: Maintaining Redis for PCF
owner: London Services
---

<a id="Best Practice"></a>
## Best Practice

It is recommended that:
* <strong>Resource Allocation</strong> - Operators should work with app developers to anticipate memory requirements, and configure VM sizes accordingly. PCF Redis is configured by default with small VMs.
* <strong>Logs</strong> - Operators configure a syslog output. Storing logs in an external service enables operators to readily debug issues both current and historical. 
* <strong>Monitoring</strong> - Operators set up a monitoring dashboard for metrics to track the health of their installation. 
* <strong>Backing up data</strong> - When using Redis for persistence, operators configure automatic backups so that data can be restored in an emergency. Validating the backed up data with a test restore is advised. 

<a id="backup"></a>
## Creating Backups of Redis Instances

You can configure automatic backups to be run for each instance, across both service plans. Instructions on configuring back up are here <..>.You can also create manual backups of individual instances.  Instructions for manual backups and manual restores are here <..>. 

<a id="metrics></a>
## Monitoring Redis for PCF

### Redis Metrics
Redis for PCF emits Redis metrics via the firehose. Details here <..>.

### Logging
Syslog can be forwarded to an external log service. Details here <..>. i

## Smoke Tests
PCF Redis has smoke tests that are run as a post-install errand by Ops Manager. Information on what they do is <here>. They can be run by the operator via `bosh run errand smoke-tests`.
