---
title: Best Practices for Operating Redis for PCF
owner: London Services
---

<strong><%= modified_date %></strong>

This topic is for PCF operators. It introduces some best practices, but does not provide details about operation.

## <a id="Best Practice"></a>Best Practices

Pivotal recommends that operators do the following:

* Resource Allocation: Work with app developers to anticipate memory requirements and to configure VM sizes. Instances of Dedicted-VM and Shared-VM services have identical VM sizes, whereas the On-Demand service allows for three different plans, each with its own VM size and quota, that App Developers can choose from.
* Logs: Configure a syslog output. Storing logs in an external service helps operators debug issues both current and historical.
* Monitoring: Set up a monitoring dashboard for metrics to track the health of the installation. On-Demand instances do not yet have instance-level metrics in v1.8+.
* Backing Up Data: When using Redis for persistence, configure automatic backups so that data can be restored in an emergency.
* Use: Instances of the On-Demand and Dedicated-VM service run on dedicated VMs. Apps in production should typically have a dedicated instance to prevent from performance issues caused by sharing an instance. Shared-VM service does not provide a Dedicated-VM per instance and is recommended for dev/testing only.
Validate the backed-up data with a test restore. On-Demand instances are configured for cache-uses and are not intended for backups.

## <a id="backup"></a>About Creating Backups of Redis Instances

You can back up Redis for PCF instances in two ways for Dedicated-VM and Shared-VM instances:

+ Configure automatic backups to be run for each instance, across both service plans. For information about setting up automatic backups, see [Configure Backups](./installing.html#backup).
+ Create manual backups of individual instances. For information about how to make manual backups of instances, see [Manual Backup and Restore of Redis for PCF](./manual-br.html).

Note that automatic backups are not available for on demand instances.

## <a id="metrics"></a> About Monitoring Redis for PCF

### Redis Metrics

Redis for PCF emits Redis metrics via the firehose. Details [here](./monitoring.html)
Metrics are not currently available at the instance-level for On-Demand instances.

### Logging

Syslog can be forwarded to an external log service.

Syslog for On-Demand instances conforms to RFC5424 standards. This format is as follows:

<pre class=terminal>
<$PRI>$VERSION $TIMESTAMP $HOST $APP_NAME $PROC_ID $MSG_ID
[instance@47450 deployment="$DEPLOYMENT" group="$INSTANCE_GROUP"
 az="$AVAILABILITY_ZONE" id="$ID"] $MESSAGE`
</pre>

An example:
<pre class=terminal>
  <13>1 2017-03-28T15:20:31.490350+00:00 10.0.16.35 redis-server 4951 - [instance@47450 director="us-pws" deployment="service-instance_16c95f89-8d5a-4cb7-839d-79c5d026bd15" group="redis-instance" az="eu-west-1a" id="7f976f34-4105-4475-abbc-5df10e933cfa" ] User requested shutdown
</pre>

The following example shows syslogs for Dedicated-VM and Shared-VM instances:

<pre class=terminal>
Nov 15 17:05:01 10.0.24.10 audispd: [job=dedicated-node index=4]  node=7bfe8b1b-6c
fd-4d33-b704-c9214ce6bb3e type=USER_ACCT msg=audit(1479229501.290:86): pid=6655 ui
d=0 auid=4294967295 ses=4294967295 msg='op=PAM:accounting acct="root" exe="/usr/sbi
n/cron" hostname=? addr=? terminal=cron res=success'
</pre>

For information about how to set up syslog output, see [Configure Syslog Output](./installing.html#syslog).

##  <a id="smoke"></a>Smoke Tests

Redis for PCF has smoke tests that are run as a post-install errand by Ops Manager. Information on what they do is [here](./smoke-tests.html). They can be run by the operator via `bosh run errand smoke-tests`.
