---
title: Networking for On-Demand Services
owner: London Services
---

<strong><%= modified_date %></strong>

This section describes networking considerations for the Redis for Pivotal Cloud Foundry (PCF) on-demand service.

<!-- Partials are in https://github.com/pivotal-cf/docs-services-partials -->

## <a id="service-network"></a>Service Network Requirement

<%= partial '../../redis/odb/service-networks-v3' %>

## <a id ="architecture_networks"></a>Default Network and Service Network

<%= partial '../../redis/odb/on_demand_architecture' %>


## <a id="network-rules"></a>Required Networking Rules for On-Demand Services

<%= partial '../../redis/odb/service_networks_table' %>

<br>
Regardless of the specific network layout, the operator must ensure network
rules are set up so that connections are open as described in the table below.

<table class="nice">
	<th>Source VM</th>
	<th>Destination VM</th>
	<th>Default TCP Port</th>
	<th>Notes</th>
	<tr>
		<td><strong>ODB</strong></td>
		<td>
				<strong>BOSH Director</strong><br><br>
		    <strong>BOSH UAA</strong>
		</td>
		<td>
			25555
			8443
			8844
		</td>
		<td>The default ports are not configurable.</td>
	</tr>
	<tr>
		<td><strong>ODB</strong></td>
		<td><strong>PAS</strong>
		</td>
		<td>8443</td>
		<td>The default port is not configurable.</td>
	</tr>
	<tr>
		<td><strong>Errand VMs</strong></td>
		<td>
				<strong>PAS</strong><br><br>
				<strong>ODB</strong><br><br>
				<strong>Deployed service instances</strong>
		</td>
		<td>
				8443
				8080
				6379
				12345
		</td>
		<td>The default ports are not configurable.</td>
	</tr>
	<tr>
		<td><strong>BOSH Agent</strong></td>
		<td><strong>BOSH Director</strong>
		</td>
		<td>4222</td>
		<td>The BOSH Agent runs on every VM in the system, including the BOSH Director VM.
			The BOSH Agent initiates the connection with the BOSH Director.<br>
			The default port is not configurable.<br><br>
			The communication between these VMs is two-way.</td>
	</tr>
	<tr>
		<td><strong>Deployed apps on PAS</strong></td>
		<td><strong>Deployed service instances</strong>
		</td>
		<td>6379</td>
		<td>This is the default port where Redis is deployed.</td>
	</tr>
	<tr>
		<td><strong>PAS</strong></td>
		<td><strong>ODB</strong>
		</td>
		<td>
			8080
		</td>
		<td>The default port is not configurable.</td>
	</tr>
</table>

For a complete list of ports and ranges used in Redis for PCF, see
[Network Configuration](./installing.html#network-configuration).
