---
title: Release Notes
owner: London Services
---

<strong><%= modified_date %></strong>

## Redis for PCF v1.10.0

**Release Date: September 29, 2017**

**Features**

* Includes metrics for the on-demand service. This enables operators to monitor the health of their Redis instances.

* Introduces a new format for on-demand metrics. This is the standard format for all services and will eventually replace other formats.

* Uses a new release for syslog that allows the operator to configure the log format to be either the pre-existing one or RFC5424. RFC5424 is the standard format for PCF services. The previous format will eventually be deprecated.

* Lua Scripting defaults to off for all on-demand service plans. Pivotal's security recommendation is to keep Lua Scripting as off.

* Allows the operator to opt-out of the on-demand service without configuring on-demand plans.

**Compatibility**

<table border="1" class="nice">
<tr>
	  <th>Component</th>
	  <th>Version</th>
</tr>
<tr>
    <td>Stemcell</td>
    <td>3445.11+</td>
</tr>
<tr>
    <td>PCF</td>
    <td>v1.11.*, v1.12.*</td>
</tr>
<tr>
    <td>cf-redis-release</td>
    <td>v431.0.0</td>
</tr>
<tr>
    <td>on-demand-service-broker</td>
    <td>v0.17.0</td>
</tr>
<tr>
    <td>consul</td>
    <td>v178.0.0</td>
</tr>
<tr>
    <td>routing</td>
    <td>v0.162.0</td>
</tr>
<tr>
    <td>service-metrics</td>
    <td>v1.5.7</td>
</tr>
<tr>
    <td>service-backup</td>
    <td>v18.1.0</td>
</tr>
<tr>
    <td>syslog-migration</td>
    <td>v9.0.0</td>
</tr>
<tr>
    <td>loggregator</td>
    <td>v97.0.0</td>
</tr>
<tr>
    <td>Redis OSS</td>
    <td>v3.2.8</td>
</tr>

</table>

**Known Issues**
* Syslog forwarding does not currently forward on-demand broker or instance logs. These are still visible on the VM

* `lua-timeout-limit`, a Redis configuration that is exposed to app developers through arbitrary parameters, does not have any effect due to a bug in Redis v3.2.8.

* The redis-odb service broker listens on 12345. This is inconsistent with other services.

* The **When Changed** option for errands has [unexpected behavior](https://docs.pivotal.io/tiledev/tile-errands.html) in what changes trigger the errand. Do not select this option for errands.

* Logs for service-backup and service-metrics releases are truncated when syslog is not configured.
