---
title: Redis for PCF Release Notes
owner: London Services
---

<strong><%= modified_date %></strong>

## <a id="1150"></a> v1.15.0

**Release Date: XXX XX, 2018**

<p class="note breaking"><strong>Breaking Change: </strong>
Dedicated-VMs have now been deprecated and are removed with installation of Redis for PCF v1.15.
If you have dedicated instances, migrate these workloads to on-demand instances.
Any data remaining on dedicated instances will be lost.
For how to migrate to on-demand plans, see the
<a href="https://pvtl.force.com/s/article/Migrating-from-dedicated-vm-service-plans-to-on-demand-service-plans">
    Migrating from dedicated-vm service plans to on-demand service plans</a> Knowledge base article.
</p>

### Features

New features and changes in this release:

- Dedicated-VM support is removed, see the Breaking Change above.
To install or upgrade the tile, operators must acknowledge the deletion of
dedicated-VMs using a checkbox.

- The Redis on-demand service broker now binds apps to a service instance using BOSH DNS.
Therefore, service bindings return the DNS address instead of the IP address.
To use BOSH DNS with existing bindings you must rebind your apps to on-demand service instances.

### Known Issues

This release has the following issues:

* The redis-odb service broker listens on port `12345`.
This is inconsistent with other services.

* The **When Changed** option for errands has unexpected behavior.
Do not select this choice as an errand run rule.
For more information about this unexpected behavior, see
[Errand Run Rules](https://docs.pivotal.io/tiledev/tile-errands.html#run-rules).

### Compatibility

The following components are compatible with this release:

<table border="1" class="nice">
<tr>
    <th>Component</th>
    <th>Version</th>
</tr>
<tr>
    <td>Stemcell</td>
    <td>97.x</td>
</tr>
<tr>
    <td>PCF<sup></sup></td>
    <td>v2.2.x and v2.3.x</td>
</tr>
<tr>
    <td>cf-redis-release</td>
    <td>v434.0.19</td>
</tr>
<tr>
    <td>on-demand-service-broker</td>
    <td>v0.22.0</td>
</tr>
<tr>
    <td>routing</td>
    <td>v0.180.0</td>
</tr>
<tr>
    <td>service-metrics</td>
    <td>v1.6.0</td>
</tr>
<tr>
    <td>service-backup</td>
    <td>v18.1.13</td>
</tr>
<tr>
    <td>syslog</td>
    <td>v11.3.2</td>
</tr>
<tr>
    <td>loggregator-agent</td>
    <td>v2.1</td>
</tr>
<tr>
    <td>bpm</td>
    <td>v0.12.2</td>
</tr>
<tr>
    <td>Redis OSS</td>
    <td>v4.0.11</td>
</tr>

</table>

## <a id="view"></a> View Release Notes for Another Version

To view the release notes for another product version, select the version from
the dropdown at the top of this page.
