---
title: Redis for PCF Release Notes
owner: London Services
---

<strong><%= modified_date %></strong>

## <a id="view"></a> View Release Notes for Another Version

To view the release notes for another product version, select the version from the drop-down list at the top of this page.

## <a id="1110"></a> v1.11.0

**Release Date: December XX, 2017**

### Features

* All releases used within the tile use SHA-2 checksums.

* The tile uses [colocated errands](http://docs.pivotal.io/tiledev/1-12/tile-errands.html) to decrease errand run time and VM footprint for PCF 2.0+.

* Users can manually backup and restore data to on-demand instances.

* Data from dedicated-VM service instances can be migrated to on-demand service instances.

* For security reasons, the permissions for all Redis files for the on-demand service have been reduced to least privileged user and lowered to minimum needed.

* Introduces defaults for on-demand VM and disk sizes, encouraging correct configuration and sizing of plans.

### Compatibility

<table border="1" class="nice">
<tr>
	  <th>Component</th>
	  <th>Version</th>
</tr>
<tr>
    <td>Stemcell</td>
    <td>3445.19+</td>
</tr>
<tr>
    <td>PCF (<em>Elastic Runtime</em> tile is renamed <em>Pivotal Application Service</em> tile)</td>
    <td>v1.12.x and v2.0.x</td>
</tr>
<tr>
    <td>cf-redis-release</td>
    <td>v432.0.0</td>
</tr>
<tr>
    <td>on-demand-service-broker</td>
    <td>v0.17.0</td>
</tr>
<tr>
    <td>consul</td>
    <td>v178.0.0</td>
</tr>
<tr>
    <td>routing</td>
    <td>v0.165.0</td>
</tr>
<tr>
    <td>service-metrics</td>
    <td>v1.5.10</td>
</tr>
<tr>
    <td>service-backup</td>
    <td>v18.1.8</td>
</tr>
<tr>
    <td>syslog-migration</td>
    <td>v10.0.0</td>
</tr>
<tr>
    <td>loggregator</td>
    <td>v97.0.0</td>
</tr>
<tr>
    <td>Redis OSS</td>
    <td>v3.2.8</td>
</tr>

</table>

### Known Issues

* `lua-timeout-limit`, a Redis configuration that is exposed to app developers through arbitrary parameters, does not have any effect due to a bug in Redis v3.2.8.

* The redis-odb service broker listens on 12345. This is inconsistent with other services.

* The **When Changed** option for errands has [unexpected behavior](https://docs.pivotal.io/tiledev/tile-errands.html) in what changes trigger the errand. Do not select this option for errands.

* Logs for service-backup and service-metrics releases are truncated when syslog is not configured.
