---
title: Redis for PCF Release Notes
owner: London Services
---

<strong><%= modified_date %></strong>

## <a id="1140"></a> v1.14.0

**Release Date: MMM XX, 2018**

### Features

New features and changes in this release:

* Adds support for the Log Cache cf CLI plugin, which enables developers
to access logs for an on-demand service instance using the command `cf tail`.
For more information, see [Access Redis Metrics for On-Demand Service Instances](./using.html#logging).

* Added checkbox in the tile that will allow operators to remove all dedicated nodes,
ahead of the upcoming full removal of support for dedicated nodes. Note that for
users on PCF 2.2 when the checkbox has been ticked but before hitting **Apply Changes**
the Resource Config tab will display warnings and no changes can be made in it,
this warning can be safely ignored.

### Known Issues

This release has the following issues:

* The redis-odb service broker listens on port `12345`. 
This is inconsistent with other services.

* The **When Changed** option for errands has unexpected behavior.
Do not select this choice as an errand run rule.
For more information about this unexpected behavior, see
[Errand Run Rules](https://docs.pivotal.io/tiledev/tile-errands.html#run-rules).

### Compatibility

The following components are compatible with this release:

<table border="1" class="nice">
<tr>
	  <th>Component</th>
	  <th>Version</th>
</tr>
<tr>
    <td>Stemcell</td>
    <td>3468.*</td>
</tr>
<tr>
	<td>PCF<sup>*</sup></td>
    <td>v2.1.x and v2.2.x</td>
</tr>
<tr>
    <td>cf-redis-release</td>
    <td>v434.0.7</td>
</tr>
<tr>
    <td>on-demand-service-broker</td>
    <td>v0.21.2</td>
</tr>
<tr>
    <td>consul</td>
    <td>v192.0.0</td>
</tr>
<tr>
    <td>routing</td>
    <td>v0.169.0</td>
</tr>
<tr>
    <td>service-metrics</td>
    <td>v1.5.13</td>
</tr>
<tr>
    <td>service-backup</td>
    <td>v18.1.9</td>
</tr>
<tr>
    <td>syslog-migration</td>
    <td>v10.0.0</td>
</tr>
<tr>
    <td>loggregator</td>
    <td>v101.3</td>
</tr>
<tr>
    <td>Redis OSS</td>
    <td>v4.0.8</td>
</tr>

</table>

\* As of PCF v2.0, _Elastic Runtime_ is renamed _Pivotal Application Service (PAS)_.

## <a id="view"></a> View Release Notes for Another Version

To view the release notes for another product version, select the version from 
the dropdown at the top of this page.

