---
title: Redis for PCF Release Notes
owner: London Services
---

<strong><%= modified_date %></strong>

<%= partial "../../redis/partials/redis/breaking-change-upgrade-ports" %>

<%= partial "../../redis/partials/redis/warning-azure-outbound-internet-access" %>


## <a id="2-1-5"></a> v2.1.5

**Release Date: October 7, 2019**

### Security Fixes

This release includes the following security fixes:

* Updates nginx and golang to resolve
[CVE-2019-9512](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2019-9512),
[CVE-2019-9514](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2019-9514),
and [CVE-2019-9515](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2019-9515).

* Uses a secured credential for s3 service backups.

### Resolved Issues

This release has the following fixes:

* Configuring s3 service backups no longer results in an error due to a
non-configurable property.

### Known Issues

This release has the following issue:

* The **When Changed** option for errands has unexpected behavior.
Do not select this choice as an errand run rule.
For more information about errand run rules, see [Errand Run Rules](https://docs.pivotal.io/tiledev/tile-errands.html#run-rules).

* The Loggregator Firehose endpoint is scheduled for deprecation.
For information about replacing Firehose, see <a href="monitoring.html#loggregator">Loggregator</a>.

### Compatibility

The following components are compatible with this release:

<table border="1" class="nice">
<tr>
    <th>Component</th>
    <th>Version</th>
</tr>
<tr>
    <td>Stemcell</td>
    <td>456.x</td>
</tr>
<tr>
    <td>PCF<sup></sup></td>
    <td>2.4.x, 2.5.x and 2.6.x</td>
</tr>
<tr>
    <td>shared-redis-release</td>
    <td>435.0.0</td>
</tr>
<tr>
    <td>on-demand-service-broker</td>
    <td>0.33.0</td>
</tr>
<tr>
    <td>routing</td>
    <td>0.188.0</td>
</tr>
<tr>
    <td>service-metrics</td>
    <td>1.12.1</td>
</tr>
<tr>
    <td>service-backup</td>
    <td>18.3.2</td>
</tr>
<tr>
    <td>syslog</td>
    <td>11.4.0</td>
</tr>
<tr>
    <td>loggregator-agent</td>
    <td>3.21.1</td>
</tr>
<tr>
    <td>bpm</td>
    <td>1.1.3</td>
</tr>
<tr>
    <td>Redis OSS</td>
    <td>5.0.5</td>
</tr>

</table>


## <a id="2-1-4"></a> v2.1.4

**Release Date: August 27, 2019**

### Security Fixes

This release includes the following security fix:

* Updates bpm to v1.1.1 to resolve
[CVE-2019-9893](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2019-9893).

### Known Issues

This release has the following issue:

* The **When Changed** option for errands has unexpected behavior.
Do not select this choice as an errand run rule.
For more information about errand run rules, see
[Errand Run Rules](https://docs.pivotal.io/tiledev/tile-errands.html#run-rules).

* The Loggregator Firehose endpoint is scheduled for deprecation.
For information about replacing Firehose, see <a href="monitoring.html#loggregator">Loggregator</a>.

* Configuring s3 service backups results in an error due to a non-configurable property.

### Compatibility

The following components are compatible with this release:

<table border="1" class="nice">
<tr>
    <th>Component</th>
    <th>Version</th>
</tr>
<tr>
    <td>Stemcell</td>
    <td>315.x</td>
</tr>
<tr>
    <td>PCF<sup></sup></td>
    <td>2.4.x, 2.5.x and 2.6.x</td>
</tr>
<tr>
    <td>cf-redis-release</td>
    <td>434.3.12</td>
</tr>
<tr>
    <td>on-demand-service-broker</td>
    <td>0.31.1</td>
</tr>
<tr>
    <td>routing</td>
    <td>0.188.0</td>
</tr>
<tr>
    <td>service-metrics</td>
    <td>1.12.0</td>
</tr>
<tr>
    <td>service-backup</td>
    <td>18.3.1</td>
</tr>
<tr>
    <td>syslog</td>
    <td>11.4.0</td>
</tr>
<tr>
    <td>loggregator-agent</td>
    <td>3.21.0</td>
</tr>
<tr>
    <td>bpm</td>
    <td>1.1.1</td>
</tr>
<tr>
    <td>Redis OSS</td>
    <td>5.0.5</td>
</tr>

</table>

## <a id="2-1-3"></a> v2.1.3

**Release Date: August 5, 2019**

### Security Fixes

This release includes the following security fix:

* Updates open source Redis to v5.0.5, which includes fixes for CVEs and issues
that caused crashes in very rare cases.
For more information about Redis v5.0.5, see the
[Redis 5.0 release notes](https://raw.githubusercontent.com/antirez/redis/5.0/00-RELEASENOTES).

* Updates golang to v1.12.6.
For release notes, see the [golang documentation](https://golang.org/doc/devel/release.html#go1.12.minor).

* Updates On-Demand Broker to v0.31.1.

* Updates the cf CLI to v1.16, which resolves
[CVE-2019-3781: CF CLI does not sanitize user's password in verbose/trace/debug](https://pivotal.io/security/cve-2019-3781).

### Resolved Issues

This release has the following fix:

* Smoke tests now run in the `pivotal-services` space.

### Known Issues

This release has the following issue:

* The **When Changed** option for errands has unexpected behavior.
Do not select this choice as an errand run rule.
For more information about errand run rules, see
[Errand Run Rules](https://docs.pivotal.io/tiledev/tile-errands.html#run-rules).

* Configuring s3 service backups results in an error due to a non-configurable property.

### Upcoming Firehose Deprecation

* The Loggregator Firehose endpoint is scheduled for deprecation.
For information about replacing Firehose, see <a href="monitoring.html#loggregator">Loggregator</a>.

### Compatibility

The following components are compatible with this release:

<table border="1" class="nice">
<tr>
    <th>Component</th>
    <th>Version</th>
</tr>
<tr>
    <td>Stemcell</td>
    <td>315.x</td>
</tr>
<tr>
    <td>PCF<sup></sup></td>
    <td>2.4.x, 2.5.x and 2.6.x</td>
</tr>
<tr>
    <td>cf-redis-release</td>
    <td>434.3.12</td>
</tr>
<tr>
    <td>on-demand-service-broker</td>
    <td>0.31.1</td>
</tr>
<tr>
    <td>routing</td>
    <td>0.188.0</td>
</tr>
<tr>
    <td>service-metrics</td>
    <td>1.12.0</td>
</tr>
<tr>
    <td>service-backup</td>
    <td>18.3.1</td>
</tr>
<tr>
    <td>syslog</td>
    <td>11.4.0</td>
</tr>
<tr>
    <td>loggregator-agent</td>
    <td>3.18.0</td>
</tr>
<tr>
    <td>bpm</td>
    <td>1.0.4</td>
</tr>
<tr>
    <td>Redis OSS</td>
    <td>5.0.5</td>
</tr>

</table>

## <a id="2-1-2"></a> v2.1.2

**Release Date: May 22, 2019**

### Resolved Issues

This release fixes the following issue:

* It is now possible to upgrade to v2.1.2 from v2.0 when Amazon S3 backups are enabled.

### Known Issues

This release has the following issue:

* The **When Changed** option for errands has unexpected behavior.
Do not select this choice as an errand run rule.
For more information about errand run rules, see
[Errand Run Rules](https://docs.pivotal.io/tiledev/tile-errands.html#run-rules).

* Configuring s3 service backups results in an error due to a non-configurable property.

### Upcoming Firehose Deprecation

* The Loggregator Firehose endpoint is scheduled for deprecation.
For information about replacing Firehose, see <a href="monitoring.html#loggregator">Loggregator</a>.

### Compatibility

The following components are compatible with this release:

<table border="1" class="nice">
<tr>
    <th>Component</th>
    <th>Version</th>
</tr>
<tr>
    <td>Stemcell</td>
    <td>250.x</td>
</tr>
<tr>
    <td>PCF<sup></sup></td>
    <td>2.4.x and 2.5.x</td>
</tr>
<tr>
    <td>cf-redis-release</td>
    <td>434.3.2</td>
</tr>
<tr>
    <td>on-demand-service-broker</td>
    <td>0.27.0</td>
</tr>
<tr>
    <td>routing</td>
    <td>0.188.0</td>
</tr>
<tr>
    <td>service-metrics</td>
    <td>1.12.0</td>
</tr>
<tr>
    <td>service-backup</td>
    <td>18.2.0</td>
</tr>
<tr>
    <td>syslog</td>
    <td>11.4.0</td>
</tr>
<tr>
    <td>loggregator-agent</td>
    <td>3.14</td>
</tr>
<tr>
    <td>bpm</td>
    <td>1.0.4</td>
</tr>
<tr>
    <td>Redis OSS</td>
    <td>5.0.4</td>
</tr>

</table>

## <a id="2-1-1"></a> v2.1.1

**Release Date: May 8, 2019**

### Features

New features and changes in this release:

* You can assign multiple AZs to on-demand plans. Instances of the plan are
randomly assigned across the selected AZs.

* The errands `recreate-all-service-instances` and
`orphan-deployments` are available to the operator.
For more information, see [Post-Deploy Errands](./maintain.html#post-deploy).

* Operators can enable BOSH HotSwaps, which reduces downtime for on-demand service
instance upgrades.
For more information, see [BOSH HotSwaps](./upgrade.html#bosh-hotswaps).

* Operators can disable Lua scripting for shared-VMs.
In previous versions, Lua scripting was enabled by default and could not be disabled.
Pivotal recommends that Lua scripting is disabled unless developers need it to be enabled.
For instructions, see [Shared-VM Plan](./installing.html#shared-vm-config).

* Shared service instances emit service metrics to Loggregator.

### Security Fixes

This release includes the following security fixes:

* Redis for PCF uses open source Redis v5.0.4.
Open source Redis for v5.0.4 includes fixes for issues that, in very rare cases, caused crashes.
For more information about Redis v5.0.4, see the
[Redis 5.0 release notes](https://raw.githubusercontent.com/antirez/redis/5.0/00-RELEASENOTES).

### Resolved Issues

This release fixes the following issues:

* The redis-odb service broker listened on port `12345`, which was inconsistent
with other services.
It now uses the standard port `8080`.

* Upgrades for on-demand service instances failed after enabling Lua scripting.
These instances now get upgraded.

* When a shared service instance was missing a PID file, error messages and logs did not include this information.

* Fixed an issue in Service-Backups caused by Secure Copy Protocol (SCP) no longer supporting path `.`, which prompted the following error log from operations using SCP:
`error performing SCP: 'exit status 1', output: 'scp: error: unexpected filename: .\n`
 This enables Service Backups to upload backups when running against stemcell v170.30 and later.

* Metrics emitted from cf-redis-broker did not reach the Loggregator Firehose.

* The **AWS Secret Access Key** and **Access Key ID** fields required to set up S3 Backups were not masking text.
This is no longer the case. Pivotal recommends you rotate your S3 credentials to ensure they are safe.


### Known Issues

This release has the following issues:

* If Amazon S3 backups are enabled, it is not possible to upgrade to v2.1.1 from v2.0.

* The **When Changed** option for errands has unexpected behavior.
Do not select this choice as an errand run rule.
For more information about this unexpected behavior, see
[Errand Run Rules](https://docs.pivotal.io/tiledev/tile-errands.html#run-rules).

* Configuring s3 service backups results in an error due to a non-configurable property.

### Upcoming Firehose Deprecation

* The Loggregator Firehose endpoint is scheduled for deprecation.
For Firehose replacements, see <a href="monitoring.html#loggregator">Loggregator</a>.

### Compatibility

The following components are compatible with this release:

<table border="1" class="nice">
<tr>
    <th>Component</th>
    <th>Version</th>
</tr>
<tr>
    <td>Stemcell</td>
    <td>250.x</td>
</tr>
<tr>
    <td>PCF<sup></sup></td>
    <td>2.4.x and 2.5.x</td>
</tr>
<tr>
    <td>cf-redis-release</td>
    <td>434.2.7</td>
</tr>
<tr>
    <td>on-demand-service-broker</td>
    <td>0.26.1</td>
</tr>
<tr>
    <td>routing</td>
    <td>0.188.0</td>
</tr>
<tr>
    <td>service-metrics</td>
    <td>1.10.0</td>
</tr>
<tr>
    <td>service-backup</td>
    <td>18.2.0</td>
</tr>
<tr>
    <td>syslog</td>
    <td>11.4.0</td>
</tr>
<tr>
    <td>loggregator-agent</td>
    <td>3.9</td>
</tr>
<tr>
    <td>bpm</td>
    <td>1.0.3</td>
</tr>
<tr>
    <td>Redis OSS</td>
    <td>5.0.4</td>
</tr>

</table>

## <a id="view"></a> View Release Notes for Another Version

To view the release notes for another product version, select the version from
the dropdown at the top of this page.
