---
title: Redis for PCF Release Notes
owner: London Services
---

<strong><%= modified_date %></strong>
## <a id="1123"></a> v1.12.3

**Release Date: July 25, 2018**

### Fixes

* Fixes previous version not working with any 3468 stemcell version.

### Known Issues

* The `redis-odb` service broker listens on port `12345`.
This is inconsistent with other services.

* The **When Changed** option for errands has unexpected behavior.
Do not select this choice as an errand run-rule.
For more information about this unexpected behavior, see
[Errand Run Rules](https://docs.pivotal.io/tiledev/tile-errands.html#run-rules).

### Compatibility

<table border="1" class="nice">
<tr>
	  <th>Component</th>
	  <th>Version</th>
</tr>
<tr>
    <td>Stemcell</td>
    <td>3468.x</td>
</tr>
<tr>
	<td>PCF<sup>*</sup></td>
    <td>v2.0.x, v2.1.x, and v2.2.x</td>
</tr>
<tr>
    <td>cf-redis-release</td>
    <td>v434.0.10</td>
</tr>
<tr>
    <td>on-demand-service-broker</td>
    <td>v0.21.2</td>
</tr>
<tr>
    <td>consul</td>
    <td>v192.0.0</td>
</tr>
<tr>
    <td>routing</td>
    <td>v0.169.0</td>
</tr>
<tr>
    <td>service-metrics</td>
    <td>v1.5.11</td>
</tr>
<tr>
    <td>service-backup</td>
    <td>v18.1.9</td>
</tr>
<tr>
    <td>syslog-migration</td>
    <td>v10.0.0</td>
</tr>
<tr>
    <td>loggregator</td>
    <td>v101.3</td>
</tr>
<tr>
    <td>Redis OSS</td>
    <td>v4.0.8</td>
</tr>

</table>

\* As of PCF v2.0, _Elastic Runtime_ is renamed _Pivotal Application Service (PAS)_.

## <a id="1122"></a> v1.12.2

**Release Date: July 20, 2018**

### Features

New features and changes in this release:

* This release updates the packaged golang version to 1.10.3.

### Fixes

* AOF rewrite now occurs in the drain script for shared VMs. As part of this,
the `BGREWRITEAOF` command has been aliased. The alias is available in the
Credentials tab on the tile.

### Known Issues

* The `redis-odb` service broker listens on port `12345`.
This is inconsistent with other services.

* The **When Changed** option for errands has unexpected behavior.
Do not select this choice as an errand run-rule.
For more information about this unexpected behavior, see
[Errand Run Rules](https://docs.pivotal.io/tiledev/tile-errands.html#run-rules).

* **Can only be installed with specific stemcell version, 3468.54.**

### Compatibility

<table border="1" class="nice">
<tr>
	  <th>Component</th>
	  <th>Version</th>
</tr>
<tr>
    <td>Stemcell</td>
    <td>3468.54</td>
</tr>
<tr>
	<td>PCF<sup>*</sup></td>
    <td>v2.0.x, v2.1.x, and v2.2.x</td>
</tr>
<tr>
    <td>cf-redis-release</td>
    <td>v434.0.10</td>
</tr>
<tr>
    <td>on-demand-service-broker</td>
    <td>v0.21.2</td>
</tr>
<tr>
    <td>consul</td>
    <td>v192.0.0</td>
</tr>
<tr>
    <td>routing</td>
    <td>v0.169.0</td>
</tr>
<tr>
    <td>service-metrics</td>
    <td>v1.5.11</td>
</tr>
<tr>
    <td>service-backup</td>
    <td>v18.1.9</td>
</tr>
<tr>
    <td>syslog-migration</td>
    <td>v10.0.0</td>
</tr>
<tr>
    <td>loggregator</td>
    <td>v101.3</td>
</tr>
<tr>
    <td>Redis OSS</td>
    <td>v4.0.8</td>
</tr>

</table>

\* As of PCF v2.0, _Elastic Runtime_ is renamed _Pivotal Application Service (PAS)_.

## <a id="1121"></a> v1.12.1

**Release Date: May 24, 2018**

### Features

New features and changes in this release:

* Permissions are stricter for service-related files and directories,
specifically those relating to the `redis.conf` and Redis `pid` files.

* Updates service display name for On-Demand Redis Service to "Redis On-Demand"
in the Apps Manager marketplace.

### Fixed Issues

* Fixes an intermittent issue that can cause executing a restore to fail.

* It is now possible to update the arbitrary parameters of a service instance in an `update-service` command.

* Upgrades and stemcell bumps no longer fail if shared-vms are down or unresponsive.

* The default persistence for on-demand instances is now partial persistence using RDB files.
This fixes the issue of disk usage inflation from frequent instance restarts.

### Known Issues

* The `redis-odb` service broker listens on port `12345`.
This is inconsistent with other services.

* The **When Changed** option for errands has unexpected behavior.
Do not select this choice as an errand run-rule.
For more information about this unexpected behavior, see
[Errand Run Rules](https://docs.pivotal.io/tiledev/tile-errands.html#run-rules).

* AOF rewrite does not occur in the drain script for shared-vms.

### Compatibility

<table border="1" class="nice">
<tr>
	  <th>Component</th>
	  <th>Version</th>
</tr>
<tr>
    <td>Stemcell</td>
    <td>3468.x</td>
</tr>
<tr>
	<td>PCF<sup>*</sup></td>
    <td>v2.0.x and v2.1.x</td>
</tr>
<tr>
    <td>cf-redis-release</td>
    <td>v434.0.6</td>
</tr>
<tr>
    <td>on-demand-service-broker</td>
    <td>v0.21.2</td>
</tr>
<tr>
    <td>consul</td>
    <td>v192.0.0</td>
</tr>
<tr>
    <td>routing</td>
    <td>v0.169.0</td>
</tr>
<tr>
    <td>service-metrics</td>
    <td>v1.5.11</td>
</tr>
<tr>
    <td>service-backup</td>
    <td>v18.1.9</td>
</tr>
<tr>
    <td>syslog-migration</td>
    <td>v10.0.0</td>
</tr>
<tr>
    <td>loggregator</td>
    <td>v101.3</td>
</tr>
<tr>
    <td>Redis OSS</td>
    <td>v4.0.8</td>
</tr>

</table>

\* As of PCF v2.0, _Elastic Runtime_ is renamed _Pivotal Application Service (PAS)_.

## <a id="1120"></a> v1.12.0

**Release Date: April 24, 2018**

### Features

New features and changes in this release:

* Updates the packaged OSS Redis version to v4.0.8. 
For more information about new features in Redis v4.0.8, see the 
[Redis release notes](http://download.redis.io/redis-stable/00-RELEASENOTES).

* Introduces a beta feature for on-demand instances that allows a Redis 
instance to be shared with another space.
For more information on this feature, see 
[Sharing a Redis Instance with Another Space (Beta)](./using.html#sharing).

* There is no longer a limit on the maximum number of on-demand instances that 
can be deployed from the Redis for PCF tile.

* The Redis append-only file is optimized for size when Redis restarts for more efficient disk usage.

* Tile deployment no longer fails if there are no shared system domains because
smoke tests now use the system domain.

* Supports stemcells without Transparent Huge Pages (THP) kernel modules.

* Reintroduces colocated errands for faster deployments.

### Known Issues

* The redis-odb service broker listens on port `12345`.
This is inconsistent with other services.

* The **When Changed** option for errands has unexpected behavior.
Do not select this choice as an errand run-rule.
For more information about this unexpected behaviour, see
[Errand Run Rules](https://docs.pivotal.io/tiledev/tile-errands.html#run-rules).

* The redis-odb fails if arbitrary parameters are changed in an `update-service` command.

* Executing a restore may fail to complete and leave the CONFIG command unaliased.

* Upgrades and stemcell bumps fail if any shared-vms are down or unresponsive.

* AOF rewrite does not occur in the drain script for shared-vms.

* Default persistence is set to full persistence using an AOF file.
If an instance is restarted frequently (for example, for upgrades),
this file can grow significantly, leading to very large persistent disk usage.
If your Redis instance has significantly larger persistent disk usage than expected,
check the size of your `appendonly.aof` file (usually at `/var/vcap/store/redis`)
to verify if this is the source of the usage. If so, you can have Redis rewrite the AOF file by running
the [BGREWRITEAOF](https://redis.io/commands/bgrewriteaof) command.

### Compatibility

<table border="1" class="nice">
<tr>
	  <th>Component</th>
	  <th>Version</th>
</tr>
<tr>
    <td>Stemcell</td>
    <td>3468.x</td>
</tr>
<tr>
	<td>PCF<sup>*</sup></td>
    <td>v2.0.x and v2.1.x</td>
</tr>
<tr>
    <td>cf-redis-release</td>
    <td>v433.0.0</td>
</tr>
<tr>
    <td>on-demand-service-broker</td>
    <td>v0.20.0</td>
</tr>
<tr>
    <td>consul</td>
    <td>v191.0.0</td>
</tr>
<tr>
    <td>routing</td>
    <td>v0.169.0</td>
</tr>
<tr>
    <td>service-metrics</td>
    <td>v1.5.11</td>
</tr>
<tr>
    <td>service-backup</td>
    <td>v18.1.9</td>
</tr>
<tr>
    <td>syslog-migration</td>
    <td>v10.0.0</td>
</tr>
<tr>
    <td>loggregator</td>
    <td>v101.3</td>
</tr>
<tr>
    <td>Redis OSS</td>
    <td>v4.0.8</td>
</tr>

</table>

\* As of PCF v2.0, _Elastic Runtime_ is renamed _Pivotal Application Service (PAS)_.

## <a id="view"></a> View Release Notes for Another Version

To view the release notes for another product version, select the version from 
the dropdown at the top of this page.

