---
title: Redis for PCF Release Notes
owner: London Services
---

Redis for PCF 1.6.0 focuses on increased operability, and compatibility with Ops Manager 1.8.  Metrics emitted via the firehose enable operators to monitor service health and usage, and enhanced logging provides a fine-grained history of service usage.

### Compatibility

<a id="compatibility"></a>
Redis for PCF 1.6 is not compatible with Ops Manager version 1.7 or earlier. 
Versions of Redis earlier than 1.5.17 will not work in Ops Manager 1.8, so it is recommended to upgrade to the latest Redis 1.5.x tile before upgrading to Ops Manager 1.8.

### Features
#### Metrics

<a id="metrics"></a>
Redis emits a number of metrics that can be used to monitor the health and performance of your Redis deployment. Redis for PCF 1.6.0 emits these metrics via the firehose.

The emitted metrics follow the format of the example below:
```
origin:"p-redis" eventType:ValueMetric timestamp:1469004313768976243 deployment:"cf-redis" job:"dedicated-node" index:"65325eae-7de3-4ed0-84c4-0f96c1e33987" ip:"10.0.32.9" valueMetric:<name:"/p-redis/info/stats/pubsub_channels" value:0 unit:"" >
```

The metrics polling interval defaults to 30 seconds. This can be changed by navigating to the Metrics configuration page in Ops Manager and entering a new value in Metrics polling interval.
![Metrics configuration](metrics-interval-seconds.png)

A complete list of metrics is in the <a href="/redis/1-6/monitoring.html">documentation</a>

#### New syslog forwarding protocols

<a id="syslog-forwarding"></a>
Redis for PCF 1.6.0 supports new protocols for syslog forwarding: TCP and RELP. The new protocols widen the range of log management tools that can be used. They can be configured on the Syslog tab in Ops Manager.
![Metrics configuration](syslog-forwarding.png)

Documentation for syslog forwarding can be found <a href="/redis/1-6/installing.html#syslog">here</a>.

#### Update to Redis 3.2.1

<a id="update-redis"></a>
Redis for PCF 1.6.0 uses Redis 3.2.1, enabling app developers to use the new GEO API and BITFIELD command.

#### Extended Logging

<a id="extended-logging"></a>
New logging includes service instance creation and deletion: logs are emitted when a service instance is created, via cf create-service p-redis <plan-name> <service-instance-name>, or deleted, via cf delete-service <service-instance-name>.

#### Smoke Tests enhancements

<a id="smoke-test-enhancements"></a>
In Redis for PCF 1.6.0 smoke tests run in a more restrictive ASG in the ‘system’ org and ‘redis-smoke-test-space’. Smoke Tests run as an application instance; the restrictive ASG reduces security vulnerability. Running the tests in ‘system’ ensures the smoke tests don’t count as a billable application instance.

### Bug Fixes

<a id="bug-fixes"></a>
Redis for PCF 1.6.0 fixes an issue with long server names causing Nginx to error, <a href="https://www.pivotaltracker.com/story/show/100807978">as per this tracker story</a>.

### Resolved Security Issues

<a id="resolved-security-issues"></a>
Redis for PCF 1.6.0 uses Golang 1.6.3 as it fixes a HTTPoxy security vulnerability; that particular vulnerability was not present in the product.

### Known Issues

<a id="known-issues"></a>
None

### Other Notes

<a id="other-notes"></a>
Redis for PCF 1.6 supports configuring multiple AZs. However, assigning multiple AZs to Redis jobs will not guarantee high availability. Shared-VM instances will run on a single node in just one of the configured availability zones and are therefore not highly available. Each Dedicated-VM instance could be assigned to any of the configured availability zones, however each instance still operates as a single node with no clustering. This separation over availability zones provides no high availability.
