---
title: Redis for PCF Release Notes
owner: London Services
---

<strong><%= modified_date %></strong>

## <a id="1137"></a> v1.13.7

**Release Date: November 29, 2018**

### Security Fixes

This release includes the following security fix:

* Critical [CVE-2018-15759: On Demand Services SDK Timing Attack Vulnerability](https://pivotal.io/security/cve-2018-15759)

### Known Issues

This release has the following issues:

* The redis-odb service broker listens on port `12345`.
This is inconsistent with other services.

* The **When Changed** option for errands has unexpected behavior.
Do not select this choice as an errand run rule.
For more information about this unexpected behavior, see
[Errand Run Rules](https://docs.pivotal.io/tiledev/tile-errands.html#run-rules).

### Compatibility

The following components are compatible with this release:

<table border="1" class="nice">
<tr>
	  <th>Component</th>
	  <th>Version</th>
</tr>
<tr>
    <td>Stemcell</td>
    <td>3468.x</td>
</tr>
<tr>
	<td>PCF<sup>*</sup></td>
    <td>v2.1.x, v2.2.x and v2.3.x</td>
</tr>
<tr>
    <td>cf-redis-release</td>
    <td>v434.0.26</td>
</tr>
<tr>
    <td>on-demand-service-broker</td>
    <td>v0.24.0</td>
</tr>
<tr>
    <td>consul</td>
    <td>v198.0.0</td>
</tr>
<tr>
    <td>routing</td>
    <td>v0.179.0</td>
</tr>
<tr>
    <td>service-metrics</td>
    <td>v1.5.13</td>
</tr>
<tr>
    <td>service-backup</td>
    <td>v18.1.15</td>
</tr>
<tr>
    <td>syslog-migration</td>
    <td>v11.1.1</td>
</tr>
<tr>
    <td>loggregator-agent</td>
    <td>v2.3</td>
</tr>
<tr>
    <td>Redis OSS</td>
    <td>v4.0.11</td>
</tr>

</table>

## <a id="1136"></a> v1.13.6

**Release Date: October 31, 2018**

### Features

* On-demand Redis now supports secure manifests, which avoids plaintext secrets in manifests
by passing these to the ODB to store in BOSH CredHub.

### Fixed Issues

This release fixes the following issue:

* In some network conditions, the smoke-tests errand would time out due to dig
taking longer than one second.

### Known Issues

This release has the following issues:

* [CVE-2018-15759](https://pivotal.io/security/cve-2018-15759).

* The redis-odb service broker listens on port `12345`.
This is inconsistent with other services.

* The **When Changed** option for errands has unexpected behavior.
Do not select this choice as an errand run rule.
For more information about this unexpected behavior, see
[Errand Run Rules](https://docs.pivotal.io/tiledev/tile-errands.html#run-rules).

### Compatibility

The following components are compatible with this release:

<table border="1" class="nice">
<tr>
	  <th>Component</th>
	  <th>Version</th>
</tr>
<tr>
    <td>Stemcell</td>
    <td>3468.x</td>
</tr>
<tr>
	<td>PCF<sup>*</sup></td>
    <td>v2.1.x, v2.2.x and v2.3.x</td>
</tr>
<tr>
    <td>cf-redis-release</td>
    <td>v434.0.25</td>
</tr>
<tr>
    <td>on-demand-service-broker</td>
    <td>v0.23.0</td>
</tr>
<tr>
    <td>consul</td>
    <td>v198.0.0</td>
</tr>
<tr>
    <td>routing</td>
    <td>v0.179.0</td>
</tr>
<tr>
    <td>service-metrics</td>
    <td>v1.5.13</td>
</tr>
<tr>
    <td>service-backup</td>
    <td>v18.1.15</td>
</tr>
<tr>
    <td>syslog-migration</td>
    <td>v11.1.1</td>
</tr>
<tr>
    <td>loggregator-agent</td>
    <td>v2.3</td>
</tr>
<tr>
    <td>Redis OSS</td>
    <td>v4.0.11</td>
</tr>

</table>

## <a id="1135"></a> v1.13.5

**Release Date: October 18, 2018**

### Fixed Issues

This release fixes the following issue:

* Fixed issue where uploading more than one of Redis for PCF 1.13.0-1.13.4 and/or
1.14.0-1.14.1 could result in an install failure.

### Known Issues

This release has the following issues:

* [CVE-2018-15759](https://pivotal.io/security/cve-2018-15759).

* In some network conditions, the smoke-tests errand can time out due to dig
taking longer than one second.

* The redis-odb service broker listens on port `12345`.
This is inconsistent with other services.

* The **When Changed** option for errands has unexpected behavior.
Do not select this choice as an errand run rule.
For more information about this unexpected behavior, see
[Errand Run Rules](https://docs.pivotal.io/tiledev/tile-errands.html#run-rules).

### Compatibility

The following components are compatible with this release:

<table border="1" class="nice">
<tr>
	  <th>Component</th>
	  <th>Version</th>
</tr>
<tr>
    <td>Stemcell</td>
    <td>3468.x</td>
</tr>
<tr>
	<td>PCF<sup>*</sup></td>
    <td>v2.1.x, v2.2.x and v2.3.x</td>
</tr>
<tr>
    <td>cf-redis-release</td>
    <td>v434.0.22</td>
</tr>
<tr>
    <td>on-demand-service-broker</td>
    <td>v0.23.0</td>
</tr>
<tr>
    <td>consul</td>
    <td>v198.0.0</td>
</tr>
<tr>
    <td>routing</td>
    <td>v0.179.0</td>
</tr>
<tr>
    <td>service-metrics</td>
    <td>v1.5.13</td>
</tr>
<tr>
    <td>service-backup</td>
    <td>v18.1.15</td>
</tr>
<tr>
    <td>syslog-migration</td>
    <td>v11.1.1</td>
</tr>
<tr>
    <td>loggregator-agent</td>
    <td>v2.3</td>
</tr>
<tr>
    <td>Redis OSS</td>
    <td>v4.0.11</td>
</tr>

</table>

## <a id="1134"></a> v1.13.4

**Release Date: October 11, 2018**

### Fixed Issues

This release fixes the following issue:

* BBR issue that prevented users from being able to backup/restore on-demand service instances.
  BBR now supports Redis on-demand service instances.

### Known Issues

This release has the following issues:

* [CVE-2018-15759](https://pivotal.io/security/cve-2018-15759).

* In some network conditions, the smoke-tests errand can time out due to dig
taking longer than one second.

* If more than one of Redis for PCF 1.13.0-1.13.4 and/or 1.14.0-1.14.1 is uploaded
at the same time then this can result in an install failure. This can be solved by upgrading
to the latest patch of this minor or the next.

* The redis-odb service broker listens on port `12345`.
This is inconsistent with other services.

* The **When Changed** option for errands has unexpected behavior.
Do not select this choice as an errand run rule.
For more information about this unexpected behavior, see
[Errand Run Rules](https://docs.pivotal.io/tiledev/tile-errands.html#run-rules).

### Compatibility

The following components are compatible with this release:

<table border="1" class="nice">
<tr>
	  <th>Component</th>
	  <th>Version</th>
</tr>
<tr>
    <td>Stemcell</td>
    <td>3468.x</td>
</tr>
<tr>
	<td>PCF<sup>*</sup></td>
    <td>v2.1.x, v2.2.x and v2.3.x</td>
</tr>
<tr>
    <td>cf-redis-release</td>
    <td>v434.0.22</td>
</tr>
<tr>
    <td>on-demand-service-broker</td>
    <td>v0.23.0</td>
</tr>
<tr>
    <td>consul</td>
    <td>v198.0.0</td>
</tr>
<tr>
    <td>routing</td>
    <td>v0.179.0</td>
</tr>
<tr>
    <td>service-metrics</td>
    <td>v1.5.13</td>
</tr>
<tr>
    <td>service-backup</td>
    <td>v18.1.15</td>
</tr>
<tr>
    <td>syslog-migration</td>
    <td>v11.1.1</td>
</tr>
<tr>
    <td>loggregator-agent</td>
    <td>v2.3</td>
</tr>
<tr>
    <td>Redis OSS</td>
    <td>v4.0.11</td>
</tr>

</table>

## <a id="1133"></a> v1.13.3

**Release Date: September 19, 2018**

### Fixed Issues

This release fixes the following issue:

* The `upgrade-all-service-instances` errand and other BOSH lifecycle actions
no longer fail when the process manager monit is trying to restart the Redis process.

### Known Issues

This release has the following issues:

* [CVE-2018-15759](https://pivotal.io/security/cve-2018-15759).

* In some network conditions, the smoke-tests errand can time out due to dig
taking longer than one second.

* If more than one of Redis for PCF 1.13.0-1.13.4 and/or 1.14.0-1.14.1 is uploaded
at the same time then this can result in an install failure. This can be solved by upgrading
to the latest patch of this minor or the next.

* BBR support for Redis on-demand service instances is not available.

* The redis-odb service broker listens on port `12345`.
This is inconsistent with other services.

* The **When Changed** option for errands has unexpected behavior.
Do not select this choice as an errand run rule.
For more information about this unexpected behavior, see
[Errand Run Rules](https://docs.pivotal.io/tiledev/tile-errands.html#run-rules).

### Compatibility

The following components are compatible with this release:

<table border="1" class="nice">
<tr>
	  <th>Component</th>
	  <th>Version</th>
</tr>
<tr>
    <td>Stemcell</td>
    <td>3468.x</td>
</tr>
<tr>
	<td>PCF<sup>*</sup></td>
    <td>v2.1.x and v2.2.x</td>
</tr>
<tr>
    <td>cf-redis-release</td>
    <td>v434.0.20</td>
</tr>
<tr>
    <td>on-demand-service-broker</td>
    <td>v0.21.2</td>
</tr>
<tr>
    <td>consul</td>
    <td>v196.0.0</td>
</tr>
<tr>
    <td>routing</td>
    <td>v0.179.0</td>
</tr>
<tr>
    <td>service-metrics</td>
    <td>v1.5.13</td>
</tr>
<tr>
    <td>service-backup</td>
    <td>v18.1.13</td>
</tr>
<tr>
    <td>syslog-migration</td>
    <td>v11.1.1</td>
</tr>
<tr>
    <td>loggregator-agent</td>
    <td>v2.2</td>
</tr>
<tr>
    <td>Redis OSS</td>
    <td>v4.0.11</td>
</tr>

</table>

## <a id="1132"></a> v1.13.2

<p class="note warning"><strong>WARNING</strong>: Pivotal recommends that you do not install this version
    because of the <code>upgrade-all-service-instances</code>
	known issue below. Install v1.13.3 instead.
      If you run the <code>upgrade-all-service-instances</code> errand on this version,
      you must take manual steps to upgrade your service instances.
      Speak to support or see <a href="https://community.pivotal.io/s/article/upgrade-all-service-instances-errand-fails-in-redis-for-pcf-v1-12-5--v1-13-2">Upgrade-all-service-instances errand fails in Redis for PCF v1.12.5 & v1.13.2</a>
       in the Pivotal Support knowledge base.</p>

**Release Date: August 28, 2018**

### Fixed Issues

This release fixes the following issue:

* The Cf-Redis Service Broker now specifies a buildpack in the Redis App pushed during its smoke tests.
Previously, if an environment has a large number of buildpacks,
the smoke tests might timeout looping through the buildpacks in order to find the appropriate one.

### Known Issues

This release has the following issues:

* [CVE-2018-15759](https://pivotal.io/security/cve-2018-15759).

* In some network conditions, the smoke-tests errand can time out due to dig
taking longer than one second.

* If more than one of Redis for PCF 1.13.0-1.13.4 and/or 1.14.0-1.14.1 is uploaded
at the same time then this can result in an install failure. This can be solved by upgrading
to the latest patch of this minor or the next.

* BBR support for Redis on-demand service instances is not available.

* The `upgrade-all-service-instances` errand and other bosh lifecycle actions
fail due to the process manager monit trying to restart the Redis process resulting
in failure to properly unmount the persistent storage.

* The redis-odb service broker listens on port `12345`.
This is inconsistent with other services.

* The **When Changed** option for errands has unexpected behavior.
Do not select this choice as an errand run rule.
For more information about this unexpected behavior, see
[Errand Run Rules](https://docs.pivotal.io/tiledev/tile-errands.html#run-rules).

### Compatibility

The following components are compatible with this release:

<table border="1" class="nice">
<tr>
	  <th>Component</th>
	  <th>Version</th>
</tr>
<tr>
    <td>Stemcell</td>
    <td>3468.x</td>
</tr>
<tr>
	<td>PCF<sup>*</sup></td>
    <td>v2.1.x and v2.2.x</td>
</tr>
<tr>
    <td>cf-redis-release</td>
    <td>v434.0.15</td>
</tr>
<tr>
    <td>on-demand-service-broker</td>
    <td>v0.21.2</td>
</tr>
<tr>
    <td>consul</td>
    <td>v195.0.0</td>
</tr>
<tr>
    <td>routing</td>
    <td>v0.179.0</td>
</tr>
<tr>
    <td>service-metrics</td>
    <td>v1.5.13</td>
</tr>
<tr>
    <td>service-backup</td>
    <td>v18.1.13</td>
</tr>
<tr>
    <td>syslog-migration</td>
    <td>v11.1.1</td>
</tr>
<tr>
    <td>loggregator-agent</td>
    <td>v2.0</td>
</tr>
<tr>
    <td>Redis OSS</td>
    <td>v4.0.8</td>
</tr>

</table>

## <a id="1131"></a> v1.13.1

**Release Date: July 20, 2018**

### Features

New features and changes in this release:

* In the Marketplace, "On-Demand Redis" is renamed to "Redis On-Demand" to make it more consistent and searchable.

* Added beta support for securing credentials in runtime CredHub.
Credentials are stored in a central repository and are restricted to components that need them.

* Added configuration options for the `upgrade-all-service-instances` errand.
This includes maximum parallel upgrades, number of canaries, and canary selection parameters by org and space.

* Updated the packaged golang version to 1.10.3.

* On-Demand service instances can now be backed up and restored using the BBR command-line tool.
For information about the tool, see
[Backup and Restore with BBR](https://docs.pivotal.io/pivotalcf/2-2/customizing/backup-restore/index.html#bbr).
NOTE: Since the release of this version we found that the BBR functionality was not working properly, this was now fixed in 1.13.4.

* The default persistence for on-demand instances is now partial persistence using RDB files.
This fixes the issue of inflated disk usage resulting from frequent instance restarts.

### Known Issues

This release has the following issues:

* [CVE-2018-15759](https://pivotal.io/security/cve-2018-15759).

* In some network conditions, the smoke-tests errand can time out due to dig
taking longer than one second.

* If more than one of Redis for PCF 1.13.0-1.13.4 and/or 1.14.0-1.14.1 is uploaded
at the same time then this can result in an install failure. This can be solved by upgrading
to the latest patch of this minor or the next.

* BBR support for Redis on-demand service instances is not available.

* The redis-odb service broker listens on port `12345`.
This is inconsistent with other services.

* The **When Changed** option for errands has unexpected behavior.
Do not select this choice as an errand run rule.
For more information about this unexpected behavior, see
[Errand Run Rules](https://docs.pivotal.io/tiledev/tile-errands.html#run-rules).

* The Cf-Redis Service Broker does not specify a buildpack in the Redis App pushed during its smoke tests.
As a result, if an environment has a large number of buildpacks, the smoke tests may timeout looping through the buildpacks in order to find the appropriate one.

### Compatibility

The following components are compatible with this release:

<table border="1" class="nice">
<tr>
	  <th>Component</th>
	  <th>Version</th>
</tr>
<tr>
    <td>Stemcell</td>
    <td>3468.x</td>
</tr>
<tr>
	<td>PCF<sup>*</sup></td>
    <td>v2.1.x, v2.2.x and v2.3.x</td>
</tr>
<tr>
    <td>cf-redis-release</td>
    <td>v434.0.11</td>
</tr>
<tr>
    <td>on-demand-service-broker</td>
    <td>v0.21.2</td>
</tr>
<tr>
    <td>consul</td>
    <td>v192.0.0</td>
</tr>
<tr>
    <td>routing</td>
    <td>v0.169.0</td>
</tr>
<tr>
    <td>service-metrics</td>
    <td>v1.5.11</td>
</tr>
<tr>
    <td>service-backup</td>
    <td>v18.1.9</td>
</tr>
<tr>
    <td>syslog-migration</td>
    <td>v10.0.0</td>
</tr>
<tr>
    <td>loggregator</td>
    <td>v101.3</td>
</tr>
<tr>
    <td>Redis OSS</td>
    <td>v4.0.8</td>
</tr>

</table>

\* As of PCF v2.0, _Elastic Runtime_ is renamed _Pivotal Application Service (PAS)_.

## <a id="view"></a> View Release Notes for Another Version

To view the release notes for another product version, select the version from
the dropdown at the top of this page.
