---
title: Redis for PCF Release Notes
owner: London Services
---

<strong><%= modified_date %></strong>

<%= partial "breaking-change-ports" %>

## <a id="210"></a> v2.1.0

**Release Date: MM DD, 2019**

### Features

New features and changes in this release:

* You can assign multiple AZs to on-demand plans. Instances of the plan are
randomly assigned across the selected AZs.

* The errands `recreate-all-service-instances` and `orphan-deployments` are available to the operator. See [Post-Deploy Errands](./maintain.html#post-deploy) for more information.

### Resolved Issues

This release fixes the following issues:

* The redis-odb service broker listened on port `12345`, which was inconsistent
with other services.
It now uses the standard port `8080`.

### Known Issues

This release has the following issues:

* The **When Changed** option for errands has unexpected behavior.
Do not select this choice as an errand run rule.
For more information about this unexpected behavior, see
[Errand Run Rules](https://docs.pivotal.io/tiledev/tile-errands.html#run-rules).

### Compatibility

The following components are compatible with this release:

<table border="1" class="nice">
<tr>
    <th>Component</th>
    <th>Version</th>
</tr>
<tr>
    <td>Stemcell</td>
    <td>170.x</td>
</tr>
<tr>
    <td>PCF<sup></sup></td>
    <td>v2.3.x and v2.4.x</td>
</tr>
<tr>
    <td>cf-redis-release</td>
    <td>v434.0.27</td>
</tr>
<tr>
    <td>on-demand-service-broker</td>
    <td>v0.25.0</td>
</tr>
<tr>
    <td>routing</td>
    <td>v0.184.0</td>
</tr>
<tr>
    <td>service-metrics</td>
    <td>v1.9.0</td>
</tr>
<tr>
    <td>service-backup</td>
    <td>v18.1.16</td>
</tr>
<tr>
    <td>syslog</td>
    <td>v11.4.0</td>
</tr>
<tr>
    <td>loggregator-agent</td>
    <td>v3.2</td>
</tr>
<tr>
    <td>bpm</td>
    <td>v1.0.0</td>
</tr>
<tr>
    <td>Redis OSS</td>
    <td>v5.0.2</td>
</tr>

</table>

## <a id="view"></a> View Release Notes for Another Version

To view the release notes for another product version, select the version from
the dropdown at the top of this page.
