---
title: Release Notes
owner: London Services
---

## Redis for PCF 1.7.1
**January 25, 2017**
#### Compatibility
No change
#### Features
No change
#### Bug Fixes
Fix issue with migration of backup configuration when upgrading from Redis for PCF 1.6
Fix issue with the service broker and shared vm instances being unavailable  while running the restore script on a shared vm instance
Fix issue with very large files being restored
#### Resolved Security Issues
Upgrade to Golang 1.7.4

## Redis for PCF 1.7.0
**December 22, 2016**
Release notes <a href="/redis/1-7/minor-overview.html">here</a>.


