---
title: Redis for PCF Release Notes
owner: London Services
---

<strong><%= modified_date %></strong>

## <a id="1121"></a> v1.12.1

**Release Date: XXX X, 2018**

### Fixes

* Fixes an intermittent issue that can cause executing a restore to fail.

### Known Issues

* The redis-odb service broker listens on port `12345`.
This is inconsistent with other services.

* The **When Changed** option for errands has unexpected behaviour.
Do not select this choice as an errand run-rule.
For more information about this unexpected behaviour, see
[Errand Run Rules](https://docs.pivotal.io/tiledev/tile-errands.html#run-rules).

* The redis-odb fails if arbitrary parameters are changed in an `update-service` command.

## <a id="1120"></a> v1.12.0

**Release Date: April 24, 2018**

### Features

* Updates the packaged OSS Redis version to v4.0.8. 
For more information about new features in Redis v4.0.8, see the 
[Redis release notes](http://download.redis.io/redis-stable/00-RELEASENOTES).

* Introduces an experimental feature for on-demand instances that allows a Redis 
instance to be shared with another space.
For more information on this feature, see 
[Sharing a Redis Instance with Another Space (Beta)](./using.html#sharing).

* There is no longer a limit on the maximum number of on-demand instances that 
can be deployed from the Redis for PCF tile.

* The Redis append-only file is optimized for size when Redis restarts for more efficient disk usage.

* Tile deployment no longer fails if there are no shared system domains because
smoke tests now use the system domain.

* Supports stemcells without Transparent Huge Pages (THP) kernel modules.

* Reintroduces collocated errands for faster deployments.

### Known Issues

* The redis-odb service broker listens on port `12345`.
This is inconsistent with other services.

* The **When Changed** option for errands has unexpected behaviour.
Do not select this choice as an errand run-rule.
For more information about this unexpected behaviour, see
[Errand Run Rules](https://docs.pivotal.io/tiledev/tile-errands.html#run-rules).

* The redis-odb fails if arbitrary parameters are changed in an `update-service` command.

* Executing a restore may fail to complete and leave the CONFIG command unaliased.

### Compatibility

<table border="1" class="nice">
<tr>
	  <th>Component</th>
	  <th>Version</th>
</tr>
<tr>
    <td>Stemcell</td>
    <td>3468.27+</td>
</tr>
<tr>
	<td>PCF<sup>*</sup></td>
    <td>v2.0.x and v2.1.x</td>
</tr>
<tr>
    <td>cf-redis-release</td>
    <td>v433.0.0</td>
</tr>
<tr>
    <td>on-demand-service-broker</td>
    <td>v0.20.0</td>
</tr>
<tr>
    <td>consul</td>
    <td>v191.0.0</td>
</tr>
<tr>
    <td>routing</td>
    <td>v0.169.0</td>
</tr>
<tr>
    <td>service-metrics</td>
    <td>v1.5.11</td>
</tr>
<tr>
    <td>service-backup</td>
    <td>v18.1.9</td>
</tr>
<tr>
    <td>syslog-migration</td>
    <td>v10.0.0</td>
</tr>
<tr>
    <td>loggregator</td>
    <td>v101.3</td>
</tr>
<tr>
    <td>Redis OSS</td>
    <td>v4.0.8</td>
</tr>

</table>

\* As of PCF v2.0, _Elastic Runtime_ is renamed _Pivotal Application Service (PAS)_.

## <a id="view"></a> View Release Notes for Another Version

To view the release notes for another product version, select the version from 
the drop-down list at the top of this page.

