---
title: Redis for PCF Release Notes
owner: London Services
---

<strong><%= modified_date %></strong>

<%= partial "breaking-change-ports" %>

<%= partial "warning-azure-outbound-internet-access" %>

## <a id="210"></a> v2.1.0

**Release Date: MM DD, 2019**

### Features

New features and changes in this release:

* You can assign multiple AZs to on-demand plans. Instances of the plan are
randomly assigned across the selected AZs.

* The errands `recreate-all-service-instances` and
`orphan-deployments` are available to the operator.
For more information, see [Post-Deploy Errands](./maintain.html#post-deploy).

* Operators can enable BOSH HotSwaps, which reduces downtime for on-demand service
instance upgrades.
For more information, see [BOSH HotSwaps](./upgrade.html#bosh-hotswaps).

* Operators can disable Lua scripting for shared-VMs.
In previous versions, Lua scripting was enabled by default and could not be disabled.
Pivotal recommends that Lua scripting is disabled unless developers need it to be enabled.
For instructions, see [Shared-VM Plan](./installing.html#shared-vm-config).

### Security Fixes

This release includes the following security fixes:

* Redis for PCF uses open source Redis v5.0.4.
Open source Redis for v5.0.4 includes fixes for issues that, in very rare cases, caused crashes.
For more information about Redis v5.0.4, see the
[Redis 5.0 release notes](https://raw.githubusercontent.com/antirez/redis/5.0/00-RELEASENOTES).

### Resolved Issues

This release fixes the following issues:

* The redis-odb service broker listened on port `12345`, which was inconsistent
with other services.
It now uses the standard port `8080`.

* Upgrades for on-demand service instances failed after enabling Lua scripting.
These instances now get upgraded.

* When a shared service instance was missing a PID file, error messages and logs did not include this information.

* Service Backups have been upgraded to version 18.2, which contains a fix for an issue where up-to-date versions of Secure Copy Protocol (SCP) no longer support path '.'

* Metrics emitted from cf-redis-broker did not reach the Loggregator Firehose.


### Known Issues

This release has the following issues:

* The **When Changed** option for errands has unexpected behavior.
Do not select this choice as an errand run rule.
For more information about this unexpected behavior, see
[Errand Run Rules](https://docs.pivotal.io/tiledev/tile-errands.html#run-rules).

### Upcoming Firehose Deprecation

* The Loggregator Firehose endpoint is scheduled for deprecation.
For Firehose replacements, see <a href="monitoring.html#loggregator">Loggregator</a>.

### Compatibility

The following components are compatible with this release:

<table border="1" class="nice">
<tr>
    <th>Component</th>
    <th>Version</th>
</tr>
<tr>
    <td>Stemcell</td>
    <td>250.x</td>
</tr>
<tr>
    <td>PCF<sup></sup></td>
    <td>2.4.x and 2.5.x</td>
</tr>
<tr>
    <td>cf-redis-release</td>
    <td>434.2.7</td>
</tr>
<tr>
    <td>on-demand-service-broker</td>
    <td>0.26.1</td>
</tr>
<tr>
    <td>routing</td>
    <td>0.188.0</td>
</tr>
<tr>
    <td>service-metrics</td>
    <td>1.10.0</td>
</tr>
<tr>
    <td>service-backup</td>
    <td>18.2.0</td>
</tr>
<tr>
    <td>syslog</td>
    <td>11.4.0</td>
</tr>
<tr>
    <td>loggregator-agent</td>
    <td>3.9</td>
</tr>
<tr>
    <td>bpm</td>
    <td>1.0.3</td>
</tr>
<tr>
    <td>Redis OSS</td>
    <td>5.0.4</td>
</tr>

</table>

## <a id="view"></a> View Release Notes for Another Version

To view the release notes for another product version, select the version from
the dropdown at the top of this page.
