---
title: Release Notes
owner: London Services
---

## Redis for PCF v1.9.0
**June 30, 2017**

**Compatibility**

* This release is compatible with PCF 1.10.3+.

* The On-Demand Service leverages the [On-Demand Broker v0.16.0](https://docs.pivotal.io/svc-sdk/odb/0-16/release-notes.html)


**Known Issues**
* New on-demand service instances will not pick up new stemcells beyond 3363.26.

* Upgrades of on-demand service instances from 1.8.0, 1.8.1 and 1.8.2 to 1.9.0 will not take effect.

* `lua-timeout-limit` a Redis configuration that is exposed to App Developrs through arbitrary Parameters in 1.9,  will not have any effect due to a bug in Redis 3.2.8.

* Redis smoke tests will fail if the number of instances of a certain plan have reached the global quota. Either remove the smoke tests errand or increase your quota.

* The redis-odb service broker listens on `12345`. This is inconsistent with other services and will be addressed in a future release.

* The 'When Changed' option for errands has unexpected behavior. Operators should not select this choice as an errand.

Release notes <a href="/redis/minor-overview.html">here</a>.
