---
title: Redis for PCF Release Notes
owner: London Services
---

<strong><%= modified_date %></strong>

## <a id="1130"></a> v1.13.0

**Release Date: XXX XX, 2018**

### Features

* In the CF Marketplace, "On-Demand Redis" is renamed to "Redis On-Demand" to make it more consistent and searchable.

### Known Issues

* The redis-odb service broker listens on port `12345`. 
This is inconsistent with other services.

* The **When Changed** option for errands has unexpected behaviour.
Do not select this choice as an errand run-rule.
For more information about this unexpected behaviour, see
[Errand Run Rules](https://docs.pivotal.io/tiledev/tile-errands.html#run-rules).

### Compatibility

<table border="1" class="nice">
<tr>
	  <th>Component</th>
	  <th>Version</th>
</tr>
<tr>
    <td>Stemcell</td>
    <td>3468.27+</td>
</tr>
<tr>
	<td>PCF<sup>*</sup></td>
    <td>v2.0.x and v2.1.x</td>
</tr>
<tr>
    <td>cf-redis-release</td>
    <td>v433.0.0</td>
</tr>
<tr>
    <td>on-demand-service-broker</td>
    <td>v0.20.0</td>
</tr>
<tr>
    <td>consul</td>
    <td>v191.0.0</td>
</tr>
<tr>
    <td>routing</td>
    <td>v0.169.0</td>
</tr>
<tr>
    <td>service-metrics</td>
    <td>v1.5.11</td>
</tr>
<tr>
    <td>service-backup</td>
    <td>v18.1.9</td>
</tr>
<tr>
    <td>syslog-migration</td>
    <td>v10.0.0</td>
</tr>
<tr>
    <td>loggregator</td>
    <td>v101.3</td>
</tr>
<tr>
    <td>Redis OSS</td>
    <td>v4.0.8</td>
</tr>

</table>

\* As of PCF v2.0, _Elastic Runtime_ is renamed _Pivotal Application Service (PAS)_.

## <a id="view"></a> View Release Notes for Another Version

To view the release notes for another product version, select the version from 
the drop-down list at the top of this page.

