---
title: Redis for PCF Release Notes
owner: London Services
---

<strong><%= modified_date %></strong>

## <a id="view"></a> View Release Notes for Another Version

To view the release notes for another product version, select the version from the drop-down list at the top of this page.

## <a id="1110"></a> v1.11.0

**Release Date:  January 25, 2018**

### Features

* The on-demand service is now at feature parity with the dedicated-VM service.
The dedicated-VM service will be deprecated. Please move apps to the on-demand service.

* All releases used within the tile use SHA-2 checksums.

* The tile uses [colocated errands](http://docs.pivotal.io/tiledev/1-12/tile-errands.html)
to decrease errand runtime and VM footprint for Pivotal Cloud Foundry (PCF) v2.0 and later.

* Users can manually and automatically back up and restore data to on-demand instances.

* For security reasons, the permissions for all Redis files for the on-demand
service have been reduced to least privileged user and lowered to minimum needed.

* Defaults for on-demand VM and disk sizes encourage correct configuration and sizing of plans.

* `lua-timeout-limit`, a Redis configuration that is exposed to app developers through arbitrary parameters,
has been disabled for security concerns.

### Compatibility

<table border="1" class="nice">
<tr>
	  <th>Component</th>
	  <th>Version</th>
</tr>
<tr>
    <td>Stemcell</td>
    <td>3445.22+</td>
</tr>
<tr>
	<td>PCF<sup>*</sup></td>
    <td>v1.12.x and v2.0.x</td>
</tr>
<tr>
    <td>cf-redis-release</td>
    <td>v432.0.0</td>
</tr>
<tr>
    <td>on-demand-service-broker</td>
    <td>v0.19.0</td>
</tr>
<tr>
    <td>consul</td>
    <td>v191.0.0</td>
</tr>
<tr>
    <td>routing</td>
    <td>v0.169.0</td>
</tr>
<tr>
    <td>service-metrics</td>
    <td>v1.5.11</td>
</tr>
<tr>
    <td>service-backup</td>
    <td>v18.1.9</td>
</tr>
<tr>
    <td>syslog-migration</td>
    <td>v10.0.0</td>
</tr>
<tr>
    <td>loggregator</td>
    <td>v101.3</td>
</tr>
<tr>
    <td>Redis OSS</td>
    <td>v3.2.8</td>
</tr>

</table>

\* As of PCF v2.0, _Elastic Runtime_ is renamed _Pivotal Application Service (PAS)_.

### Known Issues

* The errands for Redis for PCF v1.11.0 may not run successfully on some PCF v1.12 environments. The underlying cause is being investigated and a 1.11.1 patch will be released shortly.

* The redis-odb service broker listens on 12345. This is inconsistent with other services.

* The **When Changed** option for errands has [unexpected behavior](https://docs.pivotal.io/tiledev/tile-errands.html) in what changes trigger the errand. Do not select this option for errands.
