---
title: Redis for PCF Release Notes
owner: London Services
---

<strong><%= modified_date %></strong>

<p class="note warning"><strong>Warning: </strong>
  If you are upgrading PCF v2.3 to v2.4, you must run the
  <code>bosh -d MY-DEPLOYMENT restart redis-on-demand-broker</code> errand after upgrading.
  Failure to do so causes compatibility issues with runtime CredHub.</p>

## <a id="1145"></a> v1.14.5

<strong>Release Date: February 26, 2019</strong>

###<a id="fixed1145"></a> Security Fixes

* Bumped Go version used to v1.10.8 for https://github.com/golang/go/issues/29903

###<a id="known1145"></a> Known Issues

This release has the following issues:

* The redis-odb service broker listens on port `12345`.
This is inconsistent with other services.

* The **When Changed** option for errands has unexpected behavior.
Do not select this choice as an errand run rule.
For more information about this unexpected behavior, see
[Errand Run Rules](https://docs.pivotal.io/tiledev/tile-errands.html#run-rules).

### <a id="compat1145"></a> Compatibility

The following components are compatible with this release:

<table border="1" class="nice">
<tr>
    <th>Component</th>
    <th>Version</th>
</tr>
<tr>
    <td>Stemcell</td>
    <td>170.x</td>
</tr>
<tr>
    <td>PCF</td>
    <td>v2.2.x, v2.3.x and v2.4.x</td>
</tr>
<tr>
    <td>cf-redis-release</td>
    <td>v434.0.28</td>
</tr>
<tr>
    <td>on-demand-service-broker</td>
    <td>v0.25.0</td>
</tr>
<tr>
    <td>routing</td>
    <td>v0.185.0</td>
</tr>
<tr>
    <td>service-metrics</td>
    <td>v1.9.0</td>
</tr>
<tr>
    <td>service-backup</td>
    <td>v18.1.16</td>
</tr>
<tr>
    <td>syslog</td>
    <td>v11.4.0</td>
</tr>
<tr>
    <td>loggregator-agent</td>
    <td>v3.3</td>
</tr>
<tr>
    <td>bpm</td>
    <td>v1.0.2</td>
</tr>
<tr>
    <td>Redis OSS</td>
    <td>v4.0.11</td>
</tr>
</table>

## <a id="1144"></a> v1.14.4

**Release Date: November 29, 2018**

<p class="note warning"><strong>Warning: </strong>
  Ensure you run the <code>upgrade-all-service-instances</code> errand after upgrading.
  Failure to do so causes runtime CredHub compatibility issues.
  For how to upgrade, see <a href="upgrade.html#upgrades">Upgrade to Redis for PCF v2.0</a>.</p>

###<a id="fixed1144"></a> Security Fixes

 This release includes the following security fix:

* Critical [CVE-2018-15759: On Demand Services SDK Timing Attack Vulnerability](https://pivotal.io/security/cve-2018-15759)

###<a id="known1144"></a> Known Issues

This release has the following issues:

* The redis-odb service broker listens on port `12345`.
This is inconsistent with other services.

* The **When Changed** option for errands has unexpected behavior.
Do not select this choice as an errand run rule.
For more information about this unexpected behavior, see
[Errand Run Rules](https://docs.pivotal.io/tiledev/tile-errands.html#run-rules).

### <a id="compat1144"></a> Compatibility

The following components are compatible with this release:

<table border="1" class="nice">
<tr>
    <th>Component</th>
    <th>Version</th>
</tr>
<tr>
    <td>Stemcell</td>
    <td>97.x</td>
</tr>
<tr>
    <td>PCF</td>
    <td>v2.2.x, v2.3.x and v2.4.x</td>
</tr>
<tr>
    <td>cf-redis-release</td>
    <td>v434.0.26</td>
</tr>
<tr>
    <td>on-demand-service-broker</td>
    <td>v0.24.0</td>
</tr>
<tr>
    <td>routing</td>
    <td>v0.183.0</td>
</tr>
<tr>
    <td>service-metrics</td>
    <td>v1.9.0</td>
</tr>
<tr>
    <td>service-backup</td>
    <td>v18.1.15</td>
</tr>
<tr>
    <td>syslog</td>
    <td>v11.4.0</td>
</tr>
<tr>
    <td>loggregator-agent</td>
    <td>v3.2</td>
</tr>
<tr>
    <td>bpm</td>
    <td>v1.0.0</td>
</tr>
<tr>
    <td>Redis OSS</td>
    <td>v4.0.11</td>
</tr>

</table>

## <a id="1143"></a> v1.14.3

**Release Date: October 31, 2018**

###<a id="features1143"></a> Features

* On-demand Redis now supports secure manifests, which avoids plaintext secrets in manifests
by passing these to the ODB to store in BOSH CredHub.

###<a id="fixed1143"></a> Fixed Issues

This release fixes the following issue:

* In some network conditions, the smoke-tests errand would time out due to dig
taking longer than one second.

###<a id="known1143"></a> Known Issues

This release has the following issues:

* [CVE-2018-15759](https://pivotal.io/security/cve-2018-15759).

* The redis-odb service broker listens on port `12345`.
This is inconsistent with other services.

* The **When Changed** option for errands has unexpected behavior.
Do not select this choice as an errand run rule.
For more information about this unexpected behavior, see
[Errand Run Rules](https://docs.pivotal.io/tiledev/tile-errands.html#run-rules).

### <a id="compat1143"></a> Compatibility

The following components are compatible with this release:

<table border="1" class="nice">
<tr>
    <th>Component</th>
    <th>Version</th>
</tr>
<tr>
    <td>Stemcell</td>
    <td>97.x</td>
</tr>
<tr>
    <td>PCF</td>
    <td>v2.2.x and v2.3.x</td>
</tr>
<tr>
    <td>cf-redis-release</td>
    <td>v434.0.25</td>
</tr>
<tr>
    <td>on-demand-service-broker</td>
    <td>v0.23.0</td>
</tr>
<tr>
    <td>routing</td>
    <td>v0.182.0</td>
</tr>
<tr>
    <td>service-metrics</td>
    <td>v1.6.0</td>
</tr>
<tr>
    <td>service-backup</td>
    <td>v18.1.15</td>
</tr>
<tr>
    <td>syslog</td>
    <td>v11.4.0</td>
</tr>
<tr>
    <td>loggregator-agent</td>
    <td>v2.3</td>
</tr>
<tr>
    <td>bpm</td>
    <td>v0.13.0</td>
</tr>
<tr>
    <td>Redis OSS</td>
    <td>v4.0.11</td>
</tr>

</table>

## <a id="1142"></a> v1.14.2

**Release Date: October 18, 2018**

###<a id="fixed1142"></a> Fixed Issues

This release fixes the following issue:

* Fixed issue where uploading more than one of Redis for PCF 1.13.0-1.13.4 and/or
1.14.0-1.14.1 could result in an install failure.

###<a id="known1142"></a> Known Issues

This release has the following issues:

* [CVE-2018-15759](https://pivotal.io/security/cve-2018-15759).

* In some network conditions, the smoke-tests errand can time out due to dig
taking longer than one second.

* The redis-odb service broker listens on port `12345`.
This is inconsistent with other services.

* The **When Changed** option for errands has unexpected behavior.
Do not select this choice as an errand run rule.
For more information about this unexpected behavior, see
[Errand Run Rules](https://docs.pivotal.io/tiledev/tile-errands.html#run-rules).

### <a id="compat1142"></a> Compatibility

The following components are compatible with this release:

<table border="1" class="nice">
<tr>
    <th>Component</th>
    <th>Version</th>
</tr>
<tr>
    <td>Stemcell</td>
    <td>97.x</td>
</tr>
<tr>
    <td>PCF</td>
    <td>v2.2.x and v2.3.x</td>
</tr>
<tr>
    <td>cf-redis-release</td>
    <td>v434.0.22</td>
</tr>
<tr>
    <td>on-demand-service-broker</td>
    <td>v0.23.0</td>
</tr>
<tr>
    <td>routing</td>
    <td>v0.182.0</td>
</tr>
<tr>
    <td>service-metrics</td>
    <td>v1.6.0</td>
</tr>
<tr>
    <td>service-backup</td>
    <td>v18.1.15</td>
</tr>
<tr>
    <td>syslog</td>
    <td>v11.4.0</td>
</tr>
<tr>
    <td>loggregator-agent</td>
    <td>v2.3</td>
</tr>
<tr>
    <td>bpm</td>
    <td>v0.13.0</td>
</tr>
<tr>
    <td>Redis OSS</td>
    <td>v4.0.11</td>
</tr>

</table>

## <a id="1141"></a> v1.14.1

**Release Date: October 11, 2018**

###<a id="fixed1141"></a> Fixed Issues

This release fixes the following issue:

* BBR issue that prevented users from being able to backup/restore on-demand service instances.
  BBR now supports Redis on-demand service instances.

###<a id="known1141"></a> Known Issues

This release has the following issues:

* [CVE-2018-15759](https://pivotal.io/security/cve-2018-15759).

* In some network conditions, the smoke-tests errand can time out due to dig
taking longer than one second.

* If more than one of Redis for PCF 1.13.0-1.13.4 and/or 1.14.0-1.14.1 is uploaded
at the same time then this can result in an install failure. This can be solved by upgrading
to the latest patch of this minor or the next.

* The redis-odb service broker listens on port `12345`.
This is inconsistent with other services.

* The **When Changed** option for errands has unexpected behavior.
Do not select this choice as an errand run rule.
For more information about this unexpected behavior, see
[Errand Run Rules](https://docs.pivotal.io/tiledev/tile-errands.html#run-rules).

### <a id="compat1141"></a> Compatibility

The following components are compatible with this release:

<table border="1" class="nice">
<tr>
    <th>Component</th>
    <th>Version</th>
</tr>
<tr>
    <td>Stemcell</td>
    <td>97.x</td>
</tr>
<tr>
    <td>PCF</td>
    <td>v2.2.x and v2.3.x</td>
</tr>
<tr>
    <td>cf-redis-release</td>
    <td>v434.0.22</td>
</tr>
<tr>
    <td>on-demand-service-broker</td>
    <td>v0.23.0</td>
</tr>
<tr>
    <td>routing</td>
    <td>v0.182.0</td>
</tr>
<tr>
    <td>service-metrics</td>
    <td>v1.6.0</td>
</tr>
<tr>
    <td>service-backup</td>
    <td>v18.1.15</td>
</tr>
<tr>
    <td>syslog</td>
    <td>v11.3.2</td>
</tr>
<tr>
    <td>loggregator-agent</td>
    <td>v2.3</td>
</tr>
<tr>
    <td>bpm</td>
    <td>v0.12.3</td>
</tr>
<tr>
    <td>Redis OSS</td>
    <td>v4.0.11</td>
</tr>

</table>

## <a id="1140"></a> v1.14.0

**Release Date: October 3, 2018**

###<a id="features1140"></a> Features

<p class="note breaking"><strong>Breaking Change: </strong>Redis for PCF v1.14 and later requires a Xenial stemcell.
You must manually download and import a new stemcell into the Ops Manager Stemcell Library before deploying Redis for PCF v1.14.0.
This might break automation you have set up to update Redis for PCF deployments that used Trusty stemcells.
To download the Xenial stemcell from Pivotal Network,
go to <a href="https://network.pivotal.io/products/stemcells-ubuntu-xenial"> Stemcells for PCF (Ubuntu Xenial)</a>.
For instructions on importing the stemcell, see <a href="./installing.html#stemcell"> Update Stemcell</a>.</p>

New features and changes in this release:

* Support for the Log Cache cf CLI plugin, which enables developers
to access logs for an on-demand service instance using the command `cf tail`.
For more information, see [Access Redis Metrics for On-Demand Service Instances](./using.html#logging).

* A new **Deprecate Dedicated-VM Plan** errand disables service access
to  the dedicated-VM plan for non-admin app developers.
Run this errand to prepare for deprecation of support for dedicated nodes.
For more information, see [Post-Deploy Errands](./maintain.html#post-deploy).

* In addition to registering the cf-redis-broker with PCF,
the **Broker Registrar** errand now disables service access to
the dedicated-VM plan for non-admin app developers.
For information, see [Post-Deploy Errands](./maintain.html#post-deploy).

* Adds a **Delete All Dedicated Instances** checkbox to the tile in the
**Warning - Deprecating Dedicated** tab, for operators to remove all dedicated
nodes ahead of the upcoming removal of support for dedicated nodes.

    <p class="note"><strong>Note:</strong>
        For PCF v2.2, after you select the <strong>Delete All Dedicated Instances</strong> checkbox
        and before you click <strong>Apply Changes</strong>, the Resource Config
        tab cannot be changed and displays the warning <code>Please review the errors below</code>.
        You can safely ignore this warning. </p>

* Adds a **Cleanup Metadata if Dedicated-VM Plan Disabled** errand that cleans up any
metadata in PCF for any dedicated-VM service instances if zero dedicated instances are provisioned. For
more information, see [Post-Deploy Errands](./maintain.html#post-deploy).

* Redis on-demand instance processes and cf-redis-broker routing processes are now wrapped in the BOSH Process Manager (bpm).
For more information about bpm, see the [BOSH documentation](https://bosh.io/docs/bpm/bpm/).

* The major stemcell line is now Ubuntu Xenial. See [Breaking Change](#features1140) above.

* Switches to syslog from syslog-migration.
This means that the legacy log format is no longer supported and all logs are now
RFC5424 compliant.

###<a id="known1140"></a> Known Issues

This release has the following issues:

* [CVE-2018-15759](https://pivotal.io/security/cve-2018-15759).

* If more than one of Redis for PCF 1.13.0-1.13.4 and/or 1.14.0-1.14.1 is uploaded
at the same time then this can result in an install failure. This can be solved by upgrading
to the latest patch of this minor or the next.

* BBR support for Redis on-demand service instances is not available.

* The redis-odb service broker listens on port `12345`.
This is inconsistent with other services.

* The **When Changed** option for errands has unexpected behavior.
Do not select this choice as an errand run rule.
For more information about this unexpected behavior, see
[Errand Run Rules](https://docs.pivotal.io/tiledev/tile-errands.html#run-rules).

### <a id="compat1140"></a> Compatibility

The following components are compatible with this release:

<table border="1" class="nice">
<tr>
    <th>Component</th>
    <th>Version</th>
</tr>
<tr>
    <td>Stemcell</td>
    <td>97.x</td>
</tr>
<tr>
    <td>PCF</td>
    <td>v2.2.x and v2.3.x</td>
</tr>
<tr>
    <td>cf-redis-release</td>
    <td>v434.0.19</td>
</tr>
<tr>
    <td>on-demand-service-broker</td>
    <td>v0.22.0</td>
</tr>
<tr>
    <td>routing</td>
    <td>v0.180.0</td>
</tr>
<tr>
    <td>service-metrics</td>
    <td>v1.6.0</td>
</tr>
<tr>
    <td>service-backup</td>
    <td>v18.1.13</td>
</tr>
<tr>
    <td>syslog</td>
    <td>v11.3.2</td>
</tr>
<tr>
    <td>loggregator-agent</td>
    <td>v2.1</td>
</tr>
<tr>
    <td>bpm</td>
    <td>v0.12.2</td>
</tr>
<tr>
    <td>Redis OSS</td>
    <td>v4.0.11</td>
</tr>

</table>

## <a id="view"></a> View Release Notes for Another Version

To view the release notes for another product version, select the version from
the dropdown at the top of this page.
