---
title: Redis for PCF Release Notes
owner: London Services
---

<strong><%= modified_date %></strong>

## <a id="1140"></a> v1.14.0

**Release Date: MMM XX, 2018**

### Features

New features and changes in this release:

* Support for the Log Cache cf CLI plugin, which enables developers
to access logs for an on-demand service instance using the command `cf tail`.
For more information, see [Access Redis Metrics for On-Demand Service Instances](./using.html#logging).

* A new **Remove Deprecated Functionality** errand disables service access
to  the dedicated-VM plan for non-admin app developers.
Run this errand to prepare for deprecation of support for dedicated nodes.
For information, see [Post-Deploy Errands](./maintain.html#post-deploy).

* In addition to registering the cf-redis-broker with PCF,
the **Broker Registrar** errand now disables service access to 
the dedicated-VM plan for non-admin app developers.
For information, see [Post-Deploy Errands](./maintain.html#post-deploy).

* Adds a **Delete All Dedicated Instances** checkbox to the tile in the
**Warning - Deprecating Dedicated** tab, for operators to remove all dedicated
nodes ahead of the upcoming removal of support for dedicated nodes. 

    <p class="note"><strong>Note:</strong> 
        For PCF v2.2, after you select the <strong>Delete All Dedicated Instances</strong> checkbox 
        and before you click <strong>Apply Changes</strong>, the Resource Config 
        tab cannot be changed and displays the warning <code>Please review the errors below</code> 
        that you can safely ignore. </p>

* Redis On-Demand instance processes are now wrapped in [BOSH Process Manager](https://bosh.io/docs/bpm/bpm/).

* Cf-Redis broker Routing processes now wrapped in [BOSH Process Manager](https://bosh.io/docs/bpm/bpm/).

* Stemcell major line switched to Ubuntu Xenial.

### Known Issues

This release has the following issues:

* The redis-odb service broker listens on port `12345`. 
This is inconsistent with other services.

* The **When Changed** option for errands has unexpected behavior.
Do not select this choice as an errand run rule.
For more information about this unexpected behavior, see
[Errand Run Rules](https://docs.pivotal.io/tiledev/tile-errands.html#run-rules).

### Compatibility

The following components are compatible with this release:

<table border="1" class="nice">
<tr>
    <th>Component</th>
    <th>Version</th>
</tr>
<tr>
    <td>Stemcell</td>
    <td>97.*</td>
</tr>
<tr>
    <td>PCF<sup>*</sup></td>
    <td>v2.2.x and v2.3.x</td>
</tr>
<tr>
    <td>cf-redis-release</td>
    <td>v434.0.7</td>
</tr>
<tr>
    <td>on-demand-service-broker</td>
    <td>v0.21.2</td>
</tr>
<tr>
    <td>routing</td>
    <td>v0.180.0</td>
</tr>
<tr>
    <td>service-metrics</td>
    <td>v1.6.0/td>
</tr>
<tr>
    <td>service-backup</td>
    <td>v18.1.9</td>
</tr>
<tr>
    <td>syslog-migration</td>
    <td>v10.0.0</td>
</tr>
<tr>
    <td>loggregator-agent</td>
    <td>v2.0</td>
</tr>
<tr>
    <td>bpm</td>
    <td>v0.9.0</td>
</tr>
<tr>
    <td>Redis OSS</td>
    <td>v4.0.8</td>
</tr>

</table>

\* As of PCF v2.0, _Elastic Runtime_ is renamed _Pivotal Application Service (PAS)_.

## <a id="view"></a> View Release Notes for Another Version

To view the release notes for another product version, select the version from 
the dropdown at the top of this page.

