---
title: Release Notes
owner: London Services
---

## <a id="1.7.4"></a>Redis for PCF v1.7.4

**April 5, 2017**

<strong>Compatibility</strong>

No change

<strong> Features</strong>

No change

<strong> Bug Fixes</strong>

Fix an issue with process watcher being restarted every two/three hours. 
Fix tile to allow for floating stemcells.


## <a id="1.7.3"></a>Redis for PCF v1.7.3

**March 6, 2017**

<strong>Compatibility</strong>

No change

<strong> Features</strong>

No change

<strong> Bug Fixes</strong>

Fix an issue with Redis being restarted every three hours. This issue was introduced in Redis for PCF 1.7.1 and also exists in 1.7.2.

## <a id="1.7.2"></a>Redis for PCF v1.7.2

**February 16, 2017**

<strong>Compatibility</strong>

In order for Redis for PCF v1.7 to work with PCF v1.8 and later, the operator needs to be able to configure whether TLS is turned on or off for metrics communications. 
Redis for PCF v1.7.2 adds the ability for the operator to turn on/off TLS communications for
metrics, via a `Use non-secure communication for metrics` checkbox on the metrics configuration
page in Ops Manager. You should configure this checkbox for different versions of PCF as follow:

* **PCF v1.8**: This checkbox must be checked for metrics to be emitted to the
Firehose. 

* **PCF v1.9**: Metrics communications are secure by default but will work in a non-secure mode. 

* **PCF v1.10 and later**: Metrics communications are secure by
default so this checkbox must be unchecked for metrics to be emitted to the Firehose. 

<strong> Features</strong>

No change

<strong> Bug Fixes</strong>

No change

<strong> Known Issues</strong>

In order to enable TLS communications for metrics, the addition of a consul agent to all instances was required. This means there are now new open ports required.
Please make changes to any firewall rules to allow outbound traffic from all Redis vm instances on port `8301`.

## <a id="1.7.1"></a>Redis for PCF v1.7.1

**January 25, 2017**

<strong> Compatibility</strong>

No change

<strong> Features</strong>

No change

<strong> Bug Fixes</strong>

Fix issue with migration of backup configuration when upgrading from Redis for PCF v1.6.

Fix issue with the service broker and shared vm instances being unavailable  while running the restore script on a shared VM instance.

Fix issue with very large files being restored.

<strong> Resolved Security Issues</strong>

Upgrade to Golang v1.7.4

## <a id="1.7.0"></a>Redis for PCF v1.7.0

**December 22, 2016**

Release notes <a href="/redis/1-7/minor-overview.html">here</a>.


