---
title: Redis for PCF Release Notes
owner: London Services
---

<strong><%= modified_date %></strong>

## <a id="1150"></a> v1.15.0

**Release Date: XXX XX, 2018**

### Features

<p class="note breaking"><strong>Breaking Change: </strong>
The Redis On-Demand Service Broker now binds applications to a service instance using
<a href="https://bosh.io/docs/dns/">BOSH DNS</a>. <a href="https://docs.cloudfoundry.org/devguide/services/application-binding.html">Service Bindings</a>
previously would return IP addresses instead of the DNS address.
As a result, Application Developers will have to run:
<br>
<code>
$ cf unbind-service APP-NAME SERVICE-INSTANCE-NAME<br>
$ cf bind-service APP-NAME SERVICE-INSTANCE-NAME<br>
$ cf restage APP-NAME
</code>
<br>
on all apps that were previously bound to a service instance using an IP address.
This will convert service instance bindings to use the BOSH DNS address rather than an IP address.</p>

### Known Issues

This release has the following issues:

* The redis-odb service broker listens on port `12345`.
This is inconsistent with other services.

* The **When Changed** option for errands has unexpected behavior.
Do not select this choice as an errand run rule.
For more information about this unexpected behavior, see
[Errand Run Rules](https://docs.pivotal.io/tiledev/tile-errands.html#run-rules).

### Compatibility

The following components are compatible with this release:

<table border="1" class="nice">
<tr>
    <th>Component</th>
    <th>Version</th>
</tr>
<tr>
    <td>Stemcell</td>
    <td>97.*</td>
</tr>
<tr>
    <td>PCF<sup>*</sup></td>
    <td>v2.2.x and v2.3.x</td>
</tr>
<tr>
    <td>cf-redis-release</td>
    <td>v434.0.19</td>
</tr>
<tr>
    <td>on-demand-service-broker</td>
    <td>v0.22.0</td>
</tr>
<tr>
    <td>routing</td>
    <td>v0.180.0</td>
</tr>
<tr>
    <td>service-metrics</td>
    <td>v1.6.0/td>
</tr>
<tr>
    <td>service-backup</td>
    <td>v18.1.13</td>
</tr>
<tr>
    <td>syslog</td>
    <td>v11.3.2</td>
</tr>
<tr>
    <td>loggregator-agent</td>
    <td>v2.1</td>
</tr>
<tr>
    <td>bpm</td>
    <td>v0.12.2</td>
</tr>
<tr>
    <td>Redis OSS</td>
    <td>v4.0.11</td>
</tr>

</table>

\* As of PCF v2.0, _Elastic Runtime_ is renamed _Pivotal Application Service (PAS)_.

## <a id="view"></a> View Release Notes for Another Version

To view the release notes for another product version, select the version from
the dropdown at the top of this page.
