---
title: Redis for PCF Release Notes
owner: London Services
---

<strong><%= modified_date %></strong>

<%= partial "breaking-change-ports" %>

<%= partial "warning-azure-outbound-internet-access" %>

## <a id="210"></a> vX.X.X

**Release Date: MM DD, 2019**

### Features

New features and changes in this release:

### Security Fixes

This release includes the following security fixes:


### Resolved Issues

This release fixes the following issues:


### Known Issues

This release has the following issues:

### Compatibility

The following components are compatible with this release:

<table border="1" class="nice">
<tr>
    <th>Component</th>
    <th>Version</th>
</tr>
<tr>
    <td>Stemcell</td>
    <td>250.x</td>
</tr>
<tr>
    <td>PCF<sup></sup></td>
    <td>2.4.x and 2.5.x</td>
</tr>
<tr>
    <td>cf-redis-release</td>
    <td>434.2.7</td>
</tr>
<tr>
    <td>on-demand-service-broker</td>
    <td>0.26.1</td>
</tr>
<tr>
    <td>routing</td>
    <td>0.188.0</td>
</tr>
<tr>
    <td>service-metrics</td>
    <td>1.10.0</td>
</tr>
<tr>
    <td>service-backup</td>
    <td>18.2.0</td>
</tr>
<tr>
    <td>syslog</td>
    <td>11.4.0</td>
</tr>
<tr>
    <td>loggregator-agent</td>
    <td>3.9</td>
</tr>
<tr>
    <td>bpm</td>
    <td>1.0.3</td>
</tr>
<tr>
    <td>Redis OSS</td>
    <td>5.0.4</td>
</tr>

</table>

## <a id="view"></a> View Release Notes for Another Version

To view the release notes for another product version, select the version from
the dropdown at the top of this page.
