---
title: Release Notes
owner: London Services
---

Redis for PCF 1.6.3
**December 7, 2016**
#### Compatibility
No change
#### Features
No change
#### Bug Fixes
Fix a bug where stopping all the VMs via the IaaS and then starting them up again fails to bring everything back to a running state.
#### Resolved Security Issues
Update to Golang 1.7.3.
#### Known Issues
None

## Redis for PCF v1.6.2
**October 11, 2016**
#### Compatibility
No change
#### Features
No change
#### Bug Fixes
No change
#### Resolved Security Issues
Updates loggregator release to eliminate spawning subshell for timestamps.
#### Known Issues
None

## Redis for PCF v1.6.1
**September 23, 2016**
#### Compatibility
No change
#### Features
No change
#### Bug Fixes
No change
#### Resolved Security Issues
Updates for stemcell 3263.2
#### Known Issues
None

## Redis for PCF v1.6.0
**September 14, 2016**
#### Compatibility
See [About Upgrading to the Latest Version](index.html#upgrading). 
#### Features
See the [Overview of Redis for PCF v1.6](minor-overview.html) topic.
####Bug Fixes
Fixes an issue with long server names that caused Nginx to error. 
For more information, see <a href="https://www.pivotaltracker.com/story/show/100807978">related Tracker story</a>.
#### Resolved Security Issues
Uses Golang v1.6.3 because it fixes an HTTPoxy security vulnerability; that particular vulnerability was not present in the product.
#### Known Issues
None
