---
title: Redis for PCF Release Notes
owner: London Services
---

<strong><%= modified_date %></strong>


## <a id="1133"></a> v1.13.3

**Release Date: September 19, 2018**

<p class="note warning"><strong>WARNING</strong>: If you are upgrading from v1.12.5
    you need to take manual steps to succesfully upgrade your service instances.
    Please speak to support, or follow the Knowledge Base Article
<a href="https://community.pivotal.io/s/article/upgrade-all-service-instances-errand-fails-in-redis-for-pcf-v1-12-5--v1-13-2">Upgrade-all-service-instances errand fails in Redis for PCF v1.12.5 & v1.13.2</a>.

    It is safe to upgrade directly from v1.13.1 or v1.12.4.</p>

### Fixes

* Fix for `upgrade-all-service-instances` errand and other bosh lifecycle actions
failing due to the process manager monit trying to restart the Redis process.

### Known Issues

This release has the following issues:

* The redis-odb service broker listens on port `12345`.
This is inconsistent with other services.

* The **When Changed** option for errands has unexpected behavior.
Do not select this choice as an errand run rule.
For more information about this unexpected behavior, see
[Errand Run Rules](https://docs.pivotal.io/tiledev/tile-errands.html#run-rules).

### Compatibility

The following components are compatible with this release:

<table border="1" class="nice">
<tr>
	  <th>Component</th>
	  <th>Version</th>
</tr>
<tr>
    <td>Stemcell</td>
    <td>3468.x</td>
</tr>
<tr>
	<td>PCF<sup>*</sup></td>
    <td>v2.1.x and v2.2.x</td>
</tr>
<tr>
    <td>cf-redis-release</td>
    <td>v434.0.20</td>
</tr>
<tr>
    <td>on-demand-service-broker</td>
    <td>v0.21.2</td>
</tr>
<tr>
    <td>consul</td>
    <td>v196.0.0</td>
</tr>
<tr>
    <td>routing</td>
    <td>v0.179.0</td>
</tr>
<tr>
    <td>service-metrics</td>
    <td>v1.5.13</td>
</tr>
<tr>
    <td>service-backup</td>
    <td>v18.1.13</td>
</tr>
<tr>
    <td>syslog-migration</td>
    <td>v11.1.1</td>
</tr>
<tr>
    <td>loggregator-agent</td>
    <td>v2.2</td>
</tr>
<tr>
    <td>Redis OSS</td>
    <td>v4.0.11</td>
</tr>

</table>

## <a id="1132"></a> v1.13.2

<p class="note warning"><strong>WARNING</strong>: Pivotal recommends that you do not install this version due to the <code>upgrade-all-service-instances</code>
	known issue below. Install 1.13.3 instead.</p>


**Release Date: August 28, 2018**

### Fixes

* The Cf-Redis Service Broker now specifies a buildpack in the Redis App pushed during its smoke tests.
Previously, if an environment has a large number of buildpacks, the smoke tests may timeout looping through the buildpacks in order to find the appropriate one.

### Known Issues

This release has the following issues:

* The `upgrade-all-service-instances` errand and other bosh lifecycle actions
fail due to the process manager monit trying to restart the Redis process resulting
in failure to properly unmount the persistent storage.

* The redis-odb service broker listens on port `12345`.
This is inconsistent with other services.

* The **When Changed** option for errands has unexpected behavior.
Do not select this choice as an errand run rule.
For more information about this unexpected behavior, see
[Errand Run Rules](https://docs.pivotal.io/tiledev/tile-errands.html#run-rules).

### Compatibility

The following components are compatible with this release:

<table border="1" class="nice">
<tr>
	  <th>Component</th>
	  <th>Version</th>
</tr>
<tr>
    <td>Stemcell</td>
    <td>3468.x</td>
</tr>
<tr>
	<td>PCF<sup>*</sup></td>
    <td>v2.1.x and v2.2.x</td>
</tr>
<tr>
    <td>cf-redis-release</td>
    <td>v434.0.15</td>
</tr>
<tr>
    <td>on-demand-service-broker</td>
    <td>v0.21.2</td>
</tr>
<tr>
    <td>consul</td>
    <td>v195.0.0</td>
</tr>
<tr>
    <td>routing</td>
    <td>v0.179.0</td>
</tr>
<tr>
    <td>service-metrics</td>
    <td>v1.5.13</td>
</tr>
<tr>
    <td>service-backup</td>
    <td>v18.1.13</td>
</tr>
<tr>
    <td>syslog-migration</td>
    <td>v11.1.1</td>
</tr>
<tr>
    <td>loggregator-agent</td>
    <td>v2.0</td>
</tr>
<tr>
    <td>Redis OSS</td>
    <td>v4.0.8</td>
</tr>

</table>

## <a id="1131"></a> v1.13.1

**Release Date: July 20, 2018**

### Features

New features and changes in this release:

* In the Marketplace, "On-Demand Redis" is renamed to "Redis On-Demand" to make it more consistent and searchable.

* Added beta support for securing credentials in runtime CredHub.
Credentials are stored in a central repository and are restricted to components that need them.

* Added configuration options for the `upgrade-all-service-instances` errand.
This includes maximum parallel upgrades, number of canaries, and canary selection parameters by org and space.

* Updated the packaged golang version to 1.10.3.

* On-Demand service instances can now be backed up and restored using the BBR command-line tool.
For information about the tool, see
[Backup and Restore with BBR](https://docs.pivotal.io/pivotalcf/2-2/customizing/backup-restore/index.html#bbr).

* The default persistence for on-demand instances is now partial persistence using RDB files.
This fixes the issue of inflated disk usage resulting from frequent instance restarts.

### Known Issues

This release has the following issues:

* The redis-odb service broker listens on port `12345`.
This is inconsistent with other services.

* The **When Changed** option for errands has unexpected behavior.
Do not select this choice as an errand run rule.
For more information about this unexpected behavior, see
[Errand Run Rules](https://docs.pivotal.io/tiledev/tile-errands.html#run-rules).

* The Cf-Redis Service Broker does not specify a buildpack in the Redis App pushed during its smoke tests.
As a result, if an environment has a large number of buildpacks, the smoke tests may timeout looping through the buildpacks in order to find the appropriate one.

### Compatibility

The following components are compatible with this release:

<table border="1" class="nice">
<tr>
	  <th>Component</th>
	  <th>Version</th>
</tr>
<tr>
    <td>Stemcell</td>
    <td>3468.x</td>
</tr>
<tr>
	<td>PCF<sup>*</sup></td>
    <td>v2.1.x and v2.2.x</td>
</tr>
<tr>
    <td>cf-redis-release</td>
    <td>v434.0.11</td>
</tr>
<tr>
    <td>on-demand-service-broker</td>
    <td>v0.21.2</td>
</tr>
<tr>
    <td>consul</td>
    <td>v192.0.0</td>
</tr>
<tr>
    <td>routing</td>
    <td>v0.169.0</td>
</tr>
<tr>
    <td>service-metrics</td>
    <td>v1.5.11</td>
</tr>
<tr>
    <td>service-backup</td>
    <td>v18.1.9</td>
</tr>
<tr>
    <td>syslog-migration</td>
    <td>v10.0.0</td>
</tr>
<tr>
    <td>loggregator</td>
    <td>v101.3</td>
</tr>
<tr>
    <td>Redis OSS</td>
    <td>v4.0.8</td>
</tr>

</table>

\* As of PCF v2.0, _Elastic Runtime_ is renamed _Pivotal Application Service (PAS)_.

## <a id="view"></a> View Release Notes for Another Version

To view the release notes for another product version, select the version from
the dropdown at the top of this page.
