---
title: Rotating Certificates
owner: London Services
---

<div class="quick-links">
  <ul>
    <%= partial vars.path_to_partials + "/certs/rotating-certs-toc.html.erb" %>
  </ul>
</div>

This topic describes how to access BOSH CredHub, check expiration dates, 
and rotate certificates using <%= vars.product_full %>.

<%= partial vars.path_to_partials + "/certs/rotating-certs", :locals => { :local_product_name => vars.product_full } %>