---
title: Redis for PCF Security
owner: London Services
---

<strong><%= modified_date %></strong>

## <a id="security"></a> Security

<<<<<<< HEAD
=======
To allow this service to have network access you must create app security groups (ASGs).
For more information, see [Networks, Security, and Assigning AZs](./installing.html#azs).

>>>>>>> e19b08a... application -> app/fix AGS link
Pivotal recommends the following best practices for security:

* (Required) To allow this service to have network access you must create Application Security Groups.
For more information, see [Networks, Security, and Assigning AZs](./installing.html#azs).

* Run Redis for PCF in its own network.
For more information about creating service networks, see [Creating Networks in Ops Manager](https://docs.pivotal.io/pivotalcf/1-11/customizing/gcp-om-config.html#network).

* You can use Redis for PCF with the IPsec Add-on for PCF.
For information about the IPsec Add-on for PCF, see [Securing Data in Transit with the IPsec Add-on](https://docs.pivotal.io/addon-ipsec/index.html).

* Do not use a single Redis for PCF instance for multi-tenancy.
A single Redis instance of the On-Demand service should only support a single workload.

* The Shared-VM service is designed for multi-tenancy, but you should not use it for production use cases because it is not considered adequately secure for that purpose.
