---
title: Redis for PCF Security 
owner: London Services
---
 
## <a id="security"></a> Security 

Pivotal recommends that Redis for PCF is run in its own network. 

Redis for PCF works with the IPsec Add-on for PCF. For information about the IPsec Add-on for PCF, see [Securing Data in Transit with the IPsec Add-on](https://docs.pivotal.io/addon-ipsec/index.html).

To allow this service to have network access you must create Application Security Groups. For more information, see [Networks, Security, and Assigning AZs](./installing.html#azs). 
