---
title: Redis for PCF Security 
owner: London Services
---
 
## <a id="security"></a> Security 

It is recommended that PCF Redis is run in its own network. 

PCF Redis works with the BOSH IPSec AddOn. 

To allow this service to have network access you must create Application Security groups. These settings are described in the [Networks, Security, and Assigning AZs](./installing.html#azs) section. 

