---
title: Troubleshooting Redis for PCF 
owner: London Services
---

General troubleshooting guides for PCF:
PCF 1.8 http://docs.pivotal.io/pivotalcf/1-8/customizing/troubleshooting.html
PCF 1.7 https://docs.pivotal.io/pivotalcf/1-7/customizing/troubleshooting.html
PCF 1.6 http://docs.pivotal.io/pivotalcf/1-6/customizing/troubleshooting.html


Knowledgebase containing PCF services articles https://discuss.pivotal.io/hc/en-us/sections/200215308-Services. Two Redis-specific articles:

Can't redeploy PCF Redis if shared-vm persistent disk full - khttps://docs.google.com/document/d/1rRekPr7TxPvPjp9h2Y7p5st__DU_aJxgxv97GYM-8mM/edit
Issue with upgrading tile - https://discuss.pivotal.io/hc/en-us/articles/220952828-Pivotal-Cloud-Foundry-Redis-tile-upgrade-issue

Other issues you might encounter:
<table border='1' class='nice'>
<tr>
  <th width="22%">Error</th>
  <td><code>Failed to target Cloud Foundry</code>
  </td>
</tr>
<tr>
  <th>Cause</th>
  <td>Your Pivotal Cloud Foundry is unresponsive</td>
</tr>
<tr>
  <th>Solution</th>
  <td>Examine the detailed error message in the logs and check the <a href="https://docs.pivotal.io/pivotalcf/1-7/customizing/troubleshooting.html">PCF Troubleshooting Guide</a> for advice</td>
</tr>
</table>

<table border='1' class='nice'>
<tr>
  <th width="22%">Error</th>
  <td><code>Failed to bind Redis service instance to test app</code>
  </td>
</tr>
<tr>
  <th>Cause</th>
  <td>Your deployment's broker has not been registered with Pivotal Cloud Foundry</td>
</tr>
<tr>
  <th>Solution</th>
  <td>Examine the broker-registrar installation step output and troubleshoot any problems.</td>
</tr>
</table>



