---
title: Upgrading Redis for PCF
owner: London Services
---

<strong><%= modified_date %></strong>

This section contains the upgrade procedure and upgrade paths for Redis for PCF.


##<a id="upgrading"></a> Compatible Upgrade Paths

Consider the following compatibility information before upgrading Redis for PCF.

For more information, see the [Product Version Matrix](http://docs.pivotal.io/compatibility-matrix.pdf).

<table border="1" class="nice">
<tr>
	  <th rowspan="2">Ops Manager Version</th>
	  <th colspan="2">Supported Upgrades for Redis Installations</th>
</tr>

<tr>
	<th>From</th>
	<th>To</th>
</tr>
<tr>
    <th rowspan="5">v1.5.x, v1.6.x</th>
    <td rowspan="2">v1.4.0 – v1.4.3</td>
    <td>v1.4.4 – latest v1.4.x</td>
</tr>

<tr>
    <td>v1.5.0 – v1.5.7</td>
</tr>

<tr>
    <td rowspan="2">v1.4.4 – latest v1.4.x</td>
    <td> Next v1.4.x – latest v1.4.x</td>
</tr>

<tr>
    <td>v1.5.0 – latest v1.5.x</td>
</tr>

<tr>
  <td>v1.5.0 – latest v1.5.x</td>
  <td>Next v1.5.x – latest v1.5.x</td>
</tr>
<tr>
    <th>v1.7.x</th>
    <td>v1.5.0 – latest version</td>
    <td>v1.5.1 – latest version</td>
</tr>
<tr>
    <th>v1.8.x</th>
    <td>v1.5.17 – latest version</td>
    <td>v1.6.0 – latest version</td>
</tr>
<tr>
    <th>v1.9.x – latest version</th>
    <td>v1.6.0 – latest version</td>
    <td>v1.8.0 – latest version</td>
</tr>
<tr>
    <th>v1.10.0 – v1.10.2</th>
    <td>v1.7.2 – latest version</td>
    <td>v1.8.0 – latest version</td>
</tr>
<tr>
    <th>v1.10.9 – latest version</th>
    <td>v1.7.2 – latest version</td>
    <td>v1.9.0 – latest version</td>
</tr>
<tr>
    <th>v1.11.x</th>
		<td>v1.9.0 – latest version</td>
    <td>1.10.0 – latest version</td>
</tr>
<tr>
    <th>v1.12.x</th>
    <td>v1.10.0 – latest version</td>
</tr>



</table>

## <a id="upgrades"></a>Upgrade Redis for PCF

This product enables a reliable upgrade experience between versions of the product that is deployed through Ops Manager.

For information on the upgrade paths for each released version, see the above table.

To upgrade Redis for PCF, do the following:

1. Download the latest version of the product from [Pivotal Network](https://network.pivotal.io/products/p-redis).
1. Upload the new `.pivotal` file to Ops Manager.
1. If required, upload the stemcell associated with the update.
1. If required, update any new mandatory configuration parameters.
1. Click **Apply changes**. The rest of the process is automated.

During the upgrade deployment each Redis instance experiences a small period of downtime as each Redis instance is updated with the new software components. This downtime is because the Redis instances are single VMs operating in a non HA setup.

The length of the downtime depends on whether there is a stemcell update to replace the operating system image, or whether the existing VM can simply have the redis software updated. Stemcell updates incur additional downtime while the IaaS creates the new VM, whereas updates without a stemcell update are faster.

Ops Manager ensures the instances are updated with the new packages and any configuration changes are applied automatically.

Upgrading to a newer version of the product does not cause any loss of data or configuration.

##  <a id="downtime"></a> Downtime During Redis Upgrades and Redeploys

Downtime is caused by a redeploy of the Redis tile. Here we attempt to clarify what changes will trigger a redeploy.

In Ops Manager, any field that changes the manifest will cause a redeploy of the Redis tile. Any property changes in ERT listed here will trigger downtime for the Redis On-Demand Broker. Note that this list is current at the time of writing (May 2017) but that dependencies with changing products mean that it will change.
<ul>
  <li>Consul Server Resource Config (..cf.consul\_server.ips)</li>
  <li>Runtime System Domain ($runtime.system\_domain)</li>
  <li>Disable SSL certificate verification for this environment” in ERT
(..cf.ha\_proxy.skip\_cert\_verify.value)</li>
  <li>Runtime Apps Domain ($runtime.apps\_domain)</li>
  <li>NATS Resource Config
(..cf.nats.ips)</li>
  <li>Service Networks in Ops Manager
($self.service\_network)</li>
</ul>


For Redis for PCF v1.8+, downtime for service instances will only occur once the Operator runs `upgrade-all-service-instances` BOSH errand after all tile upgrades have completed successfully. For Redis for PCF v1.7 and earlier, and the Dedicated-VM and Shared-VM Service in Redis for PCF v1.8 and v1.9, downtime is enforced as soon as the operator applies the referenced changes to ERT. Any changes to a field on the Redis tile, will cause BOSH to redeploy the legacy Redis Broker and the On-Demand Broker once `upgrade-all-service-instances` is run.

## <a id="policy"></a> Release Policy

When a new version of Redis is released, Pivotal aims to release a new version of Redis for PCF containing the new Redis version soon after.

When a new version of Redis or another dependent software component, such as the stemcell, is released due to a critical CVE, Pivotal's goal is to release a new version of the Redis for PCF within 48 hours.
