---
title: Upgrading Redis for PCF
owner: London Services
---

<strong><%= modified_date %></strong>

This section contains the upgrade procedure and upgrade paths for Redis for PCF.

##<a id="upgrading"></a> Compatible Upgrade Paths

Before upgrading Redis for PCF, for compatibility information, see the
[Product Version Matrix](http://docs.pivotal.io/compatibility-matrix.pdf).

## <a id="upgrades"></a>Upgrade to Redis for PCF v2.0

<%= partial 'breaking-change-dedicated-vms' %>

This product enables a reliable upgrade experience between versions of the product
deployed through Ops Manager.

For information on the upgrade paths for each released version, see
[Compatible Upgrade Paths](#upgrading) above.

To upgrade Redis for PCF v2.0, do the following:

1. Download the latest version of the product from [Pivotal Network](https://network.pivotal.io/products/p-redis).

1. Upload the new `.pivotal` file to Ops Manager.

1. If required, upload the stemcell associated with the update.

1. Select the deprecation warning checkbox in the **WARNING - DEPRECATED INSTANCES** tab.
This removes any dedicated-VM instances in your deployment.
    <p class="note"> <strong>Note:</strong>
      This checkbox is mandatory when upgrading to Redis for PCF v2.0.
      Ensure that you have backed up or migrated data to on-demand instances before upgrading to Redis for PCF v2.0.</p>

1. If required, update any new mandatory configuration parameters.

1. Click **Apply changes**. The rest of the process is automated.

During the upgrade each Redis instance experiences a small period of
downtime as each instance is updated with the new software components.
This downtime is because Redis instances are single VMs operating in a non
high availability (HA) setup.

The length of downtime depends on whether there is a stemcell update to
replace the operating system image, or whether the Redis software is updated the
on the existing VM.
Stemcell updates incur additional downtime while the IaaS creates the new VM,
whereas updates without a stemcell update are faster.

Ops Manager ensures the instances are updated with the new packages and any
configuration changes are applied automatically.

Upgrading to a newer version of the product does not cause any loss of data or configuration.

##  <a id="downtime"></a> Downtime During Upgrades and Redeploys

A redeploy causes downtime of the Redis for PCF tile.
This section clarifies what events trigger a redeploy.

### <a id="opsman"></a> Ops Manager Changes

In Ops Manager, any field that changes the manifest causes a redeploy of the Redis for PCF tile.

### <a id="pas"></a> PAS (or Elastic Runtime) Changes

In the Pivotal Application Service (PAS) or Elastic Runtime, changes to any of the following properties can trigger downtime:
<ul>
  <li><code>..cf.consul\_server.ips</code>---Consul Server Resource Config </li>
  <li><code>$runtime.system\_domain</code>---Runtime System Domain </li>
  <li><code>..cf.ha\_proxy.skip\_cert\_verify.value</code>---Disable SSL certificate verification for this environment in PAS (or Elastic Runtime)
</li>
  <li><code>$runtime.apps\_domain</code>---Runtime Apps Domain </li>
  <li><code>..cf.nats.ips</code>---NATS Resource Config
</li>
  <li><code>$self.service\_network</code>---Service Networks in Ops Manager
</li>
</ul>

When the operator applies any of the above changes to PAS (or Elastic Runtime), downtime is triggered for the following:

* Redis On-Demand Broker in Redis for PCF v1.8 and later

* Shared-VM Services in Redis for PCF v1.9 and earlier


### <a id="all-instances"></a> Upgrading all Service Instances

* For Redis for PCF v1.8 and later, downtime for service instances occurs only
after the operator runs the `upgrade-all-service-instances` BOSH errand, after all tile upgrades are completed successfully.

* Any change to a field on the Redis for PCF tile causes BOSH to redeploy both the legacy
and the on-demand Redis Brokers after the operator runs the `upgrade-all-service-instances` errand.


## <a id="network-upgrades"></a> Network Changes after Deployment

This section explains how changing the network after deploying Redis for PCF
affects instances and apps.

### <a id="network-upgrades-shared-vms"></a> Shared VMs

To change the network for shared-VM services,
click **Assign AZs and Networks** in the Redis for PCF tile configuration and use the **Network** dropdown.

You can also change the network by altering the CIDR in the Ops Manager Director tile.

Pivotal discourages changing the network that a pre-existing shared-VM deployment works with.

If the network is changed, app bindings for existing shared-VM instances might stop working.

### <a id="network-upgrades-on-demand"></a> On-Demand Service Instances

To change the service network for on-demand service instances,
click **Assign AZs and Networks** in the Redis tile configuration and use the **Service Network** dropdown.
The service network applies to on-demand service instances.

You can also change the service network by altering the CIDR in the Ops Manager Director tile.

If you change the service network, you must unbind and rebind existing apps to the on-demand Redis instance.

New on-demand service instances are placed into the new service network,
but existing on-demand service instances are not moved.
If you need to move the data in on-demand Redis instances to a new service network, you must create a new instance, migrate the data manually, and delete the old instance.

Similarly, changing the availability zone for an on-demand plan only applies to new on-demand instances
and does not alter existing instances.

## <a id="policy"></a> Release Policy

When a new version of Redis is released, Pivotal aims to release a new version of Redis for PCF containing the new Redis version soon after.

When a new version of Redis or another dependent software component, such as the stemcell, is released due to a critical CVE, Pivotal's goal is to release a new version of the Redis for PCF within 48 hours.
