---
title: Using Redis for PCF
owner: London Services
---

<strong><%= modified_date %></strong>

Redis for Pivotal Cloud Foundry (PCF) can be used both via <a href="http://docs.pivotal.io/pivotalcf/1-11/console/dev-console.html">Pivotal Apps Manager</a> and the Cloud Foundry Command Line Interface (cf CLI), both methods are outlined below. An example application has also been created to help application developers get started with Redis for PCF, and can be [downloaded here](https://github.com/pivotal-cf/cf-redis-example-app/archive/master.zip).

See [Recommended Usage and Limitations](./recommended.html) for recommendations regarding Redis for PCF service plans, and memory allocation.

## <a id="prereq"></a>Prerequisites

To use Redis for PCF with your PCF apps, you need:

* A PCF installation with [Redis for PCF](https://network.pivotal.io/products/p-redis) installed and listed in the [Marketplace](http://docs.pivotal.io/devguide/services/#instances). The three Redis services are listed differently in the marketplace, please ensure the service you wish to use is enabled.
* A [Space Developer](http://docs.pivotal.io/pivotalcf/concepts/roles.html#roles) or Admin account on the PCF installation
* A local machine with the following installed:
   - a browser
   - a shell
   - the [Cloud Foundry Command-Line Interface](http://docs.pivotal.io/pivotalcf/cf-cli/install-go-cli.html) (cf CLI)
* To [log into](http://docs.pivotal.io/pivotalcf/cf-cli/getting-started.html#login) the org and space containing your app

## <a id="process"></a>Use Redis for PCF in a PCF app

Every app and service in PCF is scoped to a [space](http://docs.pivotal.io/pivotalcf/concepts/roles.html#spaces). To use a service, an application must exist in the same space as an instance of the service.

To use Redis for PCF in a PCF app:

1. Use the [cf CLI](http://docs.pivotal.io/pivotalcf/cf-cli/getting-started.html#login) or [Apps Manager](http://docs.pivotal.io/pivotalcf/customizing/console-login.html) to log into the org and space that contains the app.

1. Make sure an instance of the Redis for PCF service exists in the same space as the app.<br><br>
   - If the space does not already have a Redis for PCF instance, [create](#create) one.<br>
   - If the space already has a Redis for PCF instance, you can [bind](#bind) your app to the existing instance or create a new instance to bind to your app.

2. [Bind](#bind) the app to the Redis for PCF service instance, to enable the app to use Redis.

## <a id='marketplace'></a>Confirm Service Availability

For an app to use a service, 1) the service must be available in the Marketplace for its space and 2) an instance of the service must exist in its space.

You can confirm both of these using the cf CLI as follows.

1. To find out if a Redis for PCF service is available in the Marketplace:
   1. Enter `cf marketplace`.
   1. If the output lists `p.redis` in the `service` column, on-demand Redis for PCF is available. If the output lists `p-redis` in the `service` column, dedicated-VM and shared-VM Redis for PCF is available. If it is not available, ask your operator to install it.

    <pre class="terminal">
    $ cf marketplace
    Getting services from marketplace in org my-org / space my-space as user<span>@</span>example.com...
    OK
    service             plans                     description
    p-redis             shared-vm, dedicated-vm   Redis service to provide pre-provisioned instances configured as a datastore, running on a shared or dedicated VM.
    p.redis             cache-small, cached-med   Redis service to provide on-demand dedicated instances configured as a cache.
    [...]
    </pre>

1. To confirm that a Redis for PCF instance is running in the space
    1. Enter `cf services`.
    1. Any `p.redis` listings in the `service` column are service instances of on-demand redis in the space.

    <pre class="terminal">
    $ cf services
    Getting services in org my-org / space my-space as user<span>@</span>example.com...
    OK
    name          service     plan        bound apps    last operation
    my-instance   p.redis     cache-small               create succeeded
    </pre>
    You can [bind](#bind) your app to an existing instance or [create](#create) a new instance to bind to your app.


## <a id='create'></a>Create a Service Instance

### <a id='createcli'></a>Create a Service Instance with the cf CLI

#### Dedicated-VM and Shared-VM Service

Dedicated-VM and Shared-VM service instances have been pre-provisioned by the operator. This means, if an instance is available, the app developer can provision it immeditately.
These plans are both listed under the `p-redis` servive in the marketplace.

To create an instance of the Redis for PCF Dedicated-VM of Shared-VM service, run `cf create-service`. This command takes in the service name, `p-redis`, as well as the specific service within that `dedicated-vm` or `shared-vm` and a user-provided name for the service instance.

<pre class="terminal">
$ cf create-service p-redis dedicated-vm dedicated-instance<br>
Creating service dedicated-instance in org my-org / space my-space as user<span>@</span>example.com...
OK<br>
</pre>

#### On-Demand Service

Unlike pre-provisioned services, on-demand instances are created asynchronously, not immediately.

To create an instance of the Redis for PCF Dedicated-VM of Shared-VM service, run `cf create-service`. This command takes in the service name, `p.redis`, as well as the specific on-demand plan within that, `cache-small` or `cache-medium` are the default names, and a user-provided name for the service instance.

<pre class="terminal">
$ cf create-service p.redis cache-small od-instance<br>
Creating service my-ondemand-instance in org my-org / space my-space as user<span>@</span>example.com...
OK<br>
</pre>

As the On-Demand instance can take longer to create, the `watch` command is helpful as a way to track when your service instance is ready to bind and use.

<pre class="terminal">
$ watch cf services<br>
Getting services in org my-org / space my-space as user<span>@</span>example.com...
OK
name          service       plan        bound apps    last operation
od-instance   p.redis       cache-small               create succeeded
</pre>

If you get an error, see [Troubleshooting Instances](./troubleshoot-instances.html).

### <a id='createam'></a>Create a Service Instance with Apps Manager

From within Pivotal Apps Manager, select **Marketplace** from the left navigation menu under Spaces.

![marketplace](appsman_marketplace.png)

#### Dedicated-VM and Shared-VM Service<br><br>

1. Select **Redis** from the displayed tiles in the marketplace.<br>
  <br>![marketplace_p-redis](p-redis_marketplace.png)

1. Click on the appropriate **Select this plan** button to select the required **Redis Service Plan**.
  <br><br>![info_p-redis](p-redis-info.png)

1. In the **Instance Name** field, enter a name that will identify this specific Redis service instance.
1. From the **Add to Space** drop-down list, select the space where you or other users will deploy the applications that will bind to the service.
1. Click the **Add** button.

#### On-Demand Service<br><br>

1. Select **On-Demand Redis** from the displayed tiles in the marketplace.<br><br>
  ![marketplace_predis](predis_marketplace.png)

1. Click on the appropriate **Select this plan** button to select the required **Redis Service Plan**.<br><br>
  ![info_predis](predis_info.png)

1. In the **Instance Name** field, enter a name that will identify this specific Redis service instance.
1. From the **Add to Space** drop-down list, select the space where you or other users will deploy the applications that will bind to the service.
1. Click the **Add** button.

## <a id="bind"></a>Bind a Service Instance to Your App

For an app to use a service, you must bind it to a service instance. Do this after you push or re-push the app using `cf push`.

### <a id="bind-cli"></a> Bind a Service Instance with the cf CLI

To bind an app to a Redis for PCF instance use `$ cf bind-service`.

1. Run `cf services` to view running service instances.

    <pre class=terminal>
    $ cf services

    Getting services in org system / space apps-manager as admin...
    OK

    name                service         plan        bound apps    last operation
    my-instance   p-redis         shared-vm                 create succeeded
    </pre>

1. Enter `cf bind-service APP SERVICE_INSTANCE`

    where `APP` is the app you want to use the Redis service instance and `SERVICE_INSTANCE` is the name you supplied when you ran `cf create-service`.

    <pre class="terminal">
   $ cf bind-service my-app my-instance<br>
    Binding service my-instance to my-app in org my-org / space test as user<span>@</span>example.com...
    OK
    TIP: Use 'cf push' to ensure your env variable changes take effect
</pre>

### <a id="bind-appsman"></a> Bind a Service Instance with Apps Manager

1. Select the application that you wish to bind to the service. A page displays showing the already bound services and instances for this application.
1. Click **Bind**. A list of available services displays.
1. Click the **Bind** button for the Redis service you want to bind to this application.
1. Start or restage your app from the command line:

    <pre class=terminal>
    $ cf restage APPLICATION-NAME
    </pre>

## <a id="custom"></a>Customize an On-Demand Service Instance

The On-Demand Service allows operators and app developers to customize certain configuration variables.

Operators can customize the memory size, org and space access, Redis Client Timeout (default 3600 seconds), Redis TCP Keepalive (default 60 seconds), Redis Max Clients (default 1000), and can enable Lua Scripting.

App Developers can customize the following parameters:
<table border="1" class="nice">
  <tr>
    <th>Property</th>
    <th>Default</th>
    <th>Options</th>
    <th>Description</th>
  </tr>
  <tr>
    <td><code>maxmemory-policy</code></td>
    <td><code>allkeys-lru</code></td>
    <td><code>allkeys-lru</code>, <code>noeviction</code>, <code>volatile-lru</code>, <code>allkeys-random</code>, <code>volatile-ttl</code></td>
    <td>Sets the behavior Redis follows when `maxmemory` is reached</td>
  </tr>
  <tr>
    <td><code>notify-keyspace-events</code></td>
    <td>""</td>
    <td>Set a combination of the following characters (e.g., "Elg"): K, E, g, $, l, s, h, z, x, e, A</td>
    <td>Sets the keyspace notifications for events that affect the Redis data set</td>
  </tr>
  <tr>
    <td><code>slowlog-log-slower-than</code></td>
    <td>10000</td>
    <td>0-20000</td>
    <td>Sets the threshhold execution time (seconds). Commands that exceed this execution time are added to the slowlog.</td>
  </tr>
  <tr>
    <td><code>slowlog-max-len</code></td>
    <td>128</td>
    <td>1-2024</td>
    <td>Sets the length (count) of the slowlog queue.</td>
  </tr>
</table>

### <a id="customize-cli"></a> Customize an On-Demand Instance With the cf CLI

You can customize an instance in two ways:

* While creating the instance, run: <br>`cf create-service SERVICE PLAN NAME -c '{"PROPRETY":"SETTING"}'`
* After creating the instance, run: <br>`cf update-service NAME -c '{"PROPRETY":"SETTING"}'`

For both scenarios, the `-c` flag requires a valid JSON object containing service-specific configuration parameters, provided either in-line or in a file.

<pre class=terminal>
$ cf update-service my-instance -c '{"maxmemory-policy":"noeviction", }'
</pre>

You can pass through mutliple arbitrary parameters:

<pre class=terminal>
$ cf update-service my-instance -c '{"maxmemory-policy":"noeviction", "notify-keyspace-events":"El"}'
</pre>

If the update is not successful, an error is displayed with a description of what went wrong. Here is an example where a hyphen is added to the `noeviction` setting.
<pre class=terminal>
$ cf update-service my-instance -c '{"maxmemory-policy":"no-eviction", "notify-keyspace-events":"El"}'
Updating service instance my-instance as admin...
FAILED
Server error, status code: 502, error code: 10001, message: Service broker error: invalid value "no-eviction" specified for maxmemory-policy
</pre>

### <a id="customize-appsman"></a> Customize an On-Demand Instance with the Apps Manager

You can customize an instance in two ways:

* While creating the instance, after you select the plan, click **advanced settings**.<br><br>
  ![am-create](am-create.png)
* After creating the instance, navigate to the instance's Settings page.<br><br>
  ![am_arbitrary_params](am_arbitrary_params.png)

In either of the above cases, do the following:

1. In the parameters fields enter each property you want to change and its new setting. <br>Click the **+** sign to add more parameter fields.
1. Depending on the page you are on, click either **Add** or **Update**.

If the update is not successful, an error is diplayed with a description of what went wrong. Here is an example where we forgot the hyphen in the `volatile-lru` setting.

![am-error](am-error.png)

## <a id="call"></a>Use the Redis Service in Your App

To access the Redis service from your app:

1. Run `cf env APP_NAME` with the name of the app bound to the Redis for PCF instance.

2. In the output, note the connection strings listed in the `VCAP_SERVICES` > `credentials` object for the app.
Example `VCAP_SERVICES`

    ```
        {
          "p-redis": [{
            "credentials": {
                "host": "10.0.0.11",
                "password": "<redacted>",
                "port": 6379
            },
            "label": "p-redis",
            "name": "redis",
            "plan": "dedicated-vm",
            "provider": null,
            "syslog_drain_url": null,
            "tags": [
            "pivotal",
            "redis"
            ],
            "volume_mounts": []
          }]
        }
    ```

    <p class="note"><strong>Note</strong>: You can also search for your service by its <code>name</code>, given when creating the service instance, or dynamically via the <code>tags</code> or <code>label</code> properties.</p>

3. In your app code, call the Redis service using the connection strings.

For how to code your app to use Redis messaging, see **About Using Pivotal Redis** > **Client Documentation** in the [Redis documentation](https://docs.pivotal.io/p-Redis).


## <a id="delete"></a>Deleting a Redis Instance

When you delete a Redis service instance, all applications that are bound to that service are automatically unbound and any data in the service instance is cleared.

### <a id="cli-delete"></a> Deleting a Redis Instance With the cf CLI

1. Run `cf delete-service` and include the service instance name that you would like to delete. Enter `y` when prompted to confirm.

    <pre class=terminal>
    $ cf delete-service SERVICE-INSTANCE-NAME
    </pre>

    <br />For example:

    <pre class=terminal>
    $ cf delete-service my-redis-instance

    Really delete the service my-redis-instance?> y
    Deleting service my-redis-instance in org system / space apps-manager as admin...
    OK
    </pre>

1. If you had applications that were bound to this service, you may need to restage or re-push your application for the application changes to take effect.

    <pre class=terminal>
    $ cf restage APPLICATION-NAME
    </pre>

### <a id="appsman"></a> Deleting a Redis Instance With Pivotal Apps Manager

1. In the service instance's Settings page, click **Delete Service Instance**.
    <br><br>![am_settings](am_settings.png)

1. If you had applications that were bound to this service, you may need to restage or re-push your application for the application changes to take effect.

    <pre class=terminal>
    $ cf restage APPLICATION-NAME
    </pre>
